{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Applications" %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        #results {clear: both}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Applications" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="container-fluid">
        <div id="results">
            <ul class="object-list" style="padding: 20px 0 0 0">
            {% for app in application_list %}
                <li class="ik-li app" id="{{ app.id }}" data-id="{{ app.id }}">
                    <div class="image" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }})"></div>
                    <div class="info">
                        <div class="name" style="float: left">{{ app.name }}</div>
                        <div class="about">
                            <p>
                                <span class="wholesale_price">
                                    <strong>{% trans "Starting" %}</strong>: {{ config.currency_symbol }}{{ product.wholesale_price|intcomma }}
                                </span>
                                <span class="retail_price">
                                    {% if product.retail_price %}
                                        <strong>{% trans "Retail" %}</strong>:
                                        {{ config.currency_symbol }}<span class="value">{{ product.retail_price|intcomma }}</span>
                                    {% endif %}
                                </span>
                                <span class="max_price">{% if product.max_price %}<strong>{% trans "Max" %}</strong>: {{ config.currency_symbol }}{{ product.max_price|intcomma }}{% endif %}</span>
                            </p>
                        </div>
                    </div>
                    <div class="actions">
                        {% if app.deployment_url_name %}
                        <a href="{% url app.deployment_url_name app.slug %}">
                            <i class="glyphicon glyphicon-cloud-upload" title="{% trans "Deploy Cloud" %}"></i>
                        </a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .apps').addClass('active');
        })()
    </script>
{% endblock %}
