{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Applications" %} - {{ service.project_name }}</title>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Applications" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results">
                <ul class="object-list">
                {% for plan in plan_list %}
                    {% with app=plan.app %}
                    <li class="ik-li app" id="{{ plan.id }}" data-id="{{ plan.id }}">
                        {% if app.logo.name %}
                            <div class="image rounded"
                                 style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }})"></div>
                        {% else %}
                            <div class="image rounded"
                                 style="background-image: url({% static 'ikwen/img/logo-placeholder.jpg' %})"></div>
                        {% endif %}
                        <div class="info">
                            <div class="name" style="float: left">{{ app.name }}</div>
                            <div class="about" style="clear: both">
                                <p>
                                    <span class="starting">
                                        <strong>{% trans "Starting" %}</strong>: {{ config.currency_symbol }}{{ plan.setup_cost|intcomma }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="actions">
                            {% if app.deployment_url_name %}
                            <a href="{% url app.deployment_url_name app.slug %}">
                                <i class="glyphicon glyphicon-cloud-upload" title="{% trans "Deploy Cloud" %}"></i>
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endwith %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .apps').addClass('active');
        })()
    </script>
{% endblock %}
