{% extends "core/app_base_admin.html" %}
{% load i18n humanize staticfiles auth_tokens admin_list %}

{% block page_title %}
<title> {% trans "Flat pages" %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        #page-list {margin-top: 2em}
        #page-list li {background: transparent; border-left: none; border-right: none; border-radius: 0}
        #page-list .actions {bottom: 12px; position: absolute; right: 20px}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Flat Pages" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="no-edge-panel-right">
        <div class="container-fluid">
            <div class="container-fluid">
                <a class="btn btn-sm btn-primary" href="{% url 'ikwen:change_flatpage' %}" style="width: 160px">{% trans "Add new" %}</a>
                <ul id="page-list" class="list-group">
                    {% for page in flatpage_list %}
                        {% url 'ikwen:change_flatpage' page.id as flatpage_url %}
                        <li class="list-group-item ik-li" id="{{ page.id }}" data-id="{{ page.id }}">
                            <div class="select subtle-shade">
                                <i class="glyphicon glyphicon-ok"></i>
                            </div>
                            <a href="{{ flatpage_url|append_auth_tokens:request }}">{{ page.title }}</a>
                            <div class="actions">
                                <i class="action icon trash" title="{% trans "Delete item" %}"></i>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            ikwen.deleteEndpoint = '{% url 'ikwen:flatpage_list' %}?action=delete';
            $('div#admin-nav .flatpages').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
            {% if request.GET.success %}
                ikwen.showFloatingNotice('{% trans "Flat page info successfully updated." %}', '', 6);
            {% endif %}
        })()
    </script>
{% endblock %}
