{% extends "core/base_bs.html" %}
{% load i18n static humanize currency %}

{% block meta %}
    <meta name="abstract" content="{{ service.project_name }} - {{ module_donation.title }}" />
    <meta name="description" content="{{ module_donation.content }}" />
    <meta property="og:title" content="{{ service.project_name }} - {{ module_donation.title }}" />
    {% if module_donation.image.name %}
        <meta property="og:image" content="{% get_media_prefix %}{{ module_donation.image.name }}" />
    {% else %}
        <meta property="og:image" content="{% get_media_prefix %}{{ config.logo.name }}" />
    {% endif %}
    <meta property="og:description" content="{{ module_donation.content }}" />
    <meta property="og:site_name" content="{{ service.domain|upper }}" />
{% endblock %}

{% block page_title %}<title>{{ module_donation.title }} - {{ service.project_name }} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/pricing.css' %}" />
    {% if config.theme %}
        <link rel='stylesheet' href="{{ service.app.slug }}/css/{{ config.theme.template.slug }}/{{ config.theme.slug }}.css" />
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <h2>{{ module_donation.title }}</h2>
            <div style="margin-top: 30px">
                <p>{{ module_donation.content|safe }}</p>
                {% if module_donation.image.name %}
                    <div class="text-center">
                        <img src="{{ module_donation.image.url }}" style="margin: 30px auto 0" class="img-responsive" />
                    </div>
                {% endif %}
            </div>
            {% if not module_donation.image.name %}
                <div style="height: 2px; margin: 30px 0 40px; overflow: hidden">
                    <div class="col-xs-3" style="height: 2px; background: #E53935"></div>
                    <div class="col-xs-3" style="height: 2px; background: #FFC107"></div>
                    <div class="col-xs-3" style="height: 2px; background: #5E35B1"></div>
                    <div class="col-xs-3" style="height: 2px; background: #00BCD4"></div>
                </div>
            {% endif %}
            <div class="col-xs-12 col-sm-4 col-lg-3" style="float: none; margin: auto">
                <div class="form-group amount" style="margin-top: .4em">
                    <label for="donation-amount" class="sr-only">{% trans "Amount" %}</label>
                    <input id="donation-amount" class="form-control input-sm" type="number"
                           step="100" value="{{ amount }}" placeholder="1000" />
                </div>
                <div class="form-group">
                    <button id="show-payment-methods" class="btn btn-success btn-block btn-sm"
                            data-toggle="modal" data-target="#payment-methods"> {% trans "Submit" %} </button>
                </div>
            </div>
        </div>
    </div>
    {% with payment_conf='donation' %}
    {% include 'billing/snippets/modal_payment_options.html' %}
    {% endwith %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('#show-payment-methods').click(function() {
                let amount = $('#donation-amount').val();
                $('#payment-amount').val(amount)
            });
        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}