{% load i18n static staticfiles humanize %}
<div style="padding: 0 15px">
    <h4 class="text-primary">{% trans "Money transfer confirmation" %}</h4>
    {% with amount=cor.amount|intcomma account_number=cor.account_number project_name=service.project_name url=service.url %}
    {% if is_iao %}
        <div>
            <p class="about">{% blocktrans %}
                This is a confirmation that <ins>{{ currency_symbol }} {{ amount }}</ins> was transferred
                on your account <ins>{{ account_number }}</ins> for your request to cash-out
                your money with us on <a href="{{ url }}" target="_blank">{{ project_name }}</a>.
            {% endblocktrans %}</p>
        </div>
    {% else %}
        <div class="member" style="border-bottom: none; padding: 15px 0">
            {% if member.photo.name %}
                <a href="{% url 'ikwen:profile' member.id %}" class="photo"
                   style="background-image: url({{ IKWEN_MEDIA_URL }}{{ member.photo.thumb_name }}); cursor: pointer"></a>
            {% else %}
                <a href="{% url 'ikwen:profile' member.id %}" class="photo"
                   style="background-image: url({% static MEMBER_AVATAR %}); cursor: pointer"></a>
            {% endif %}
            <div style="margin-left: 80px">
                <a href="{% url 'ikwen:profile' member.id %}" class="name" style="cursor: pointer; display: block; margin-bottom: 5px">{{ member.full_name }}</a>
                <p class="about">{% blocktrans %}
                    This is a confirmation that <ins>{{ currency_symbol }} {{ amount }}</ins> was transferred
                    to account <ins>{{ account_number }}</ins> for his request to cash-out
                    his money with us on <strong>{{ project_name }}</strong>.
                {% endblocktrans %}</p>
            </div>
        </div>
    {% endif %}
    {% endwith %}
</div>