{% extends 'core/app_base_admin.html' %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title> {% if obj %}{{ obj }}{% else %}{% trans "New" %}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/uploader-single.css' %}?v=20.7.21" media="screen" rel="stylesheet" type="text/css" />
{#    <script src="{% static 'ikwen/css/jquery.datetimepicker.css' %}"></script>#}
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
{% endblock %}

{% block breadcrumb_location %}
    <li>
        <a href="{{ object_list_url }}">{{ verbose_name_plural|capfirst }}</a>
    </li>
    {% if obj %}
        <li>{{ obj }}</li>
    {% else %}
        <li>{% trans 'New' %}</li>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
            <form class="admin-form" method="post">{% csrf_token %}
                <input type="hidden" name="label_field" value="{{ label_field }}" />
                <input type="hidden" name="slug_field" value="{{ slug_field }}" />
                {% include 'core/snippets/model_admin_form.html' %}
                {% for media_obj in media_field_list %}
                <div class="col-sm-4 col-lg-3" style="padding-left: 0; margin-right: 15px">
                    <div>
                    {% with media=media_obj %}
                        {% include 'core/snippets/media_uploader_single.html' %}
                    {% endwith %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                    <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{#    <script src="{% static 'ikwen/js/jquery.datetimepicker.full.js' %}"></script>#}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .{{ verbose_name_plural|slugify }}').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
            $('.date-field').each(function() {
                let alt = $(this).data('alt');
                $(this).datepicker({
                    altField: alt,
                    altFormat: "yy-mm-dd"
                });
            });
            $('.datetime-field').each(function() {
                let alt = $(this).data('alt'),
                    time = $(this).data('time');
                $(this).datepicker({
                    altField: alt,
                    altFormat: "yy-mm-dd"
                }).change(function() {
                    if (!$(time).val()) $(time).val('00:00:00')
                });
            });
            /*$('.datetime-field').each(function() {
                let altSelector = $(this).data('alt'),
                    timeSelector = $(this).data('time'),
                    time = $(timeSelector).val();
                if (!time) time = '00:00';
                $(this).datetimepicker({
                    format:	'Y-m-d H:i',
                    formatTime:	'H:i',
                    formatDate:	'Y-m-d',
                    defaultTime: '00:00',
                    timepickerScrollbar: false
                });
            });*/
        })()
    </script>
{% endblock %}
