{% extends "accesscontrol/profile.html" %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title> Console - ikwen </title>
{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href="{% static 'ikwen/swiper/css/swiper.min.css' %}" />
    <style type="text/css">
        #cover nav {background: #fff; height: 42px; width: 100%}
        #cover nav ul {margin: 0; padding: 0}
        #cover nav li {border-right: 1px solid #ddd; display: inline-block; height: 42px; 
            overflow: hidden; padding-top: 9px; text-align: center; width: 49.4%}
        #cover nav li:last-child {border-right: none}
        #cover nav li a {color: #587389}
        #cover nav li a:hover {text-decoration: none}
        #cover nav li.current a {color: #18bc9c; font-weight: 700}
        @media (min-width: 476px) {
            #cover nav li {width: 160px}
            #cover nav li:last-child {border-right: 1px solid #ddd}
        }
        #communities-suggestions .card h3 {color: #323d65; font-size: 18px; margin-bottom: 15px}
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/swiper/js/swiper.jquery.min.js' %}"></script>
{% endblock %}

{% block after_head %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5027563976936898",
        enable_page_level_ads: true
      });
    </script>
{% endblock %}
{% block stage %}
    <div id="stage">
        <header id="cover" class="subtle-shade">
            <div id="banner">
                <div class="frame">
                    {% if member.photo and member.photo.name %}
                        <div class="photo" style="background-image: url({{ member.photo.small_url }})">
                            <div class="upload-image"></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="photo" style="background-image: url({% static 'ikwen/img/login-avatar.jpg' %})">
                            <div class="upload-image"></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <h2 class="text-has-shade name visible-xs">{{ member.full_name|truncatewords:"2" }}</h2>
                </div>
                <div class="upload-image hidden-xs"></div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <h2 class="text-has-shade name hidden-xs">{{ member.full_name }}</h2>
            </div>
        </header>
        {% if suggestion_list|length > 0 %}
        <div id="communities-suggestions" class="card-ul">
            <div class="card subtle-shade">
                <h3>{% trans "Top communities" %}</h3>
                <div class="row AccessRequest">
                    <div class="row swiper-container" style="margin-top: 5px">
                        <div class="swiper-wrapper">
                            {% for service in suggestion_list %}
                                {% with config=service.config %}
                                <div class="col-xs-6 col-sm-4 card-li swiper-slide" style="text-align: center">
                                    <a href="{% url 'ikwen:company_profile' service.project_name_slug %}">
                                        {% if config.cover_image.name %}
                                            <div class="cover" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ config.cover_image.name }})">
                                                <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" alt="{{ config.company_name }} logo" width="30" />
                                            </div>
                                        {% else %}
                                            <div class="cover" style="background-image: url({% static 'ikwen/img/default-cover-company.jpg' %})">
                                                <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" alt="{{ config.company_name }} logo" width="30" />
                                            </div>
                                        {% endif %}
                                        <p style="height:30px; margin-top: 5px">{{ config.company_name|truncatewords:2 }}</p>
                                    </a>
                                    <button class="btn btn-block btn-primary btn-sm join-community" data-service-id="{{ service.id }}">
                                        <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
                                        {% trans "Join" %}
                                    </button>
                                    <div class="join-successful"> <i class="fa fa-check"></i> </div>
                                </div>
                                {% endwith %}
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next has-shade">
                            <i class="fa fa-angle-right"></i>
                        </div>
                        <div class="swiper-button-prev has-shade">
                            <i class="fa fa-angle-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div>
            <div class="menu console-menu hidden-xs">
                <h4 class="text-muted">
                    <div class="disc coupon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    {% trans "My collection" %}
                </h4>
                <ul style="padding: 0">
{#                    {% for summary in coupon_summary_list %}#}
{#                        {% with service=summary.service %}#}
{#                        <li class="ik-li">#}
{#                            <a href="{% url 'ikwen:company_profile' service.project_name_slug %}">#}
{#                                <div class="image rounded" style="background-image: url({% get_media_prefix %}{{ service.config.logo.name }})">#}
{#                                    {% if summary.threshold_reached %}#}
{#                                        <i class="threshold-reached"></i>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="info">#}
{#                                    <span class="title">{{ service.project_name }}</span>#}
{#                                    <p class="about">{{ summary.count }} {% trans "Coupons" %}</p>#}
{#                                </div>#}
{#                                <div class="clearfix"></div>#}
{#                            </a>#}
{#                        </li>#}
{#                        {% endwith %}#}
{#                    {% empty %}#}
                        <li class="ik-li no-coupon">
                            <img src="{% static 'ikwen/img/empty-box.png' %}" class="img-responsive" />
                        </li>
{#                    {% endfor %}#}
                </ul>
            </div>
            <div id="cards">
                <div class="tpl card subtle-shade">
                    <h3>
                        <img width="30" />
                        <a target="_blank" class="project-name" style="cursor: pointer"></a>
                        <time></time>
                    </h3>
                    <div>
                        <div class="content row">
                            <div class="loading">
                                <p class="dots">...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                {% for event in event_list %}
                    {% with service=event.service event_type=event.event_type %}
                    <div id="{{ event.id }}" class="{{ service.project_name_slug }} card subtle-shade" data-base-url="{{ service.url }}">
                        <h3>
                            {% if service.config.logo.name %}
                                <img src="{{ service.config.logo.url }}" width="30" />
                            {% endif %}
                            <a href="{{ service.url }}">{{ service.project_name }}</a>
                            <time>{{ event.created_on|naturaltime }}</time>
                        </h3>
                        <div class="{{ event_type.codename }}">
                            <div class="content row">
                                <div class="loading"{% if event_type.min_height %}
                                 style="min-height: {{ event_type.min_height }}px; line-height: {{ event_type.min_height }}px"{% endif %}>
                                    <p class="dots">...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
    {% include 'core/snippets/banner_and_pp_uploader.html' %}
    {% include 'accesscontrol/snippets/request_management.html' %}
    <script>
        (function() {
            var suggestionSwiper = new Swiper('#communities-suggestions .swiper-container', {
                slidesPerView: 'auto',
                spaceBetween: 15,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    767: {
                        spaceBetween: 0
                    }
                }
            });
            function loadCardContent(eventId) {
                var _$card = $('#' + eventId),
                    baseUrl = _$card.data('base-url');
                {% if request.META.HTTP_HOST != 'localhost' %}
                    if (baseUrl.substr(-9) != 'ikwen.com') baseUrl += '/ikwen';
                {% endif %}
                $.getJSON(baseUrl + '{% url 'ikwen:load_event_content' %}?callback=?', {event_id: eventId, member_id: '{{ user.id }}'}, function(res) {
                    if (!res.html) {
                        _$card.remove();
                        return
                    }
                    _$card.find('.content').html(res.html);
                });
                _$card.addClass('loaded');
            }
            var dataSourceEmpty = false,
                loadingCards = false;
            $(window).scroll(function() {
                if (dataSourceEmpty || loadingCards) return;
                var scrollTop = $(this).scrollTop(),
                    threshold = Math.max($('footer').height(), 60);
                if ($(document).height() - $(this).height() - scrollTop <= threshold) {
                    loadingCards = true;
                    var start = $('div#cards .card').length;
                    $.getJSON('{% url 'ikwen:console' %}', {start: start, format: 'json'}, function(events) {
                        if (events.length == 0) {
                            dataSourceEmpty = true;
                            return;
                        }
                        for (var i=0; i<events.length; i++) {
                            var event = events[i],
                                $card = $('div#cards .card.tpl').clone().removeClass('tpl');
                            $card.attr('id', event.id);
                            $card.data('base-url', event.project_url);
                            $card.find('.project-name').text(event.project_name).attr('href', event.project_url);
                            $card.find('img').attr('src', event.project_logo_url);
                            $card.find('time').text(event.created_on);
                            if (event.min_height) $card.find('.loading').css({minHeight: event.min_height + 'px', lineHeight: event.min_height + 'px'});
                            $('#cards').append($card);
                            loadCardContent(event.id);
                        }
                        loadingCards = false;
                    });
                    $(this).addClass('loaded');
                }
            });
            $('div#cards .card:not(.tpl, .empty, .loaded)').each(function() {
                var id = $(this).attr('id');
                loadCardContent(id);
            });
            $.getJSON('{% url 'ikwen:reset_notices_counter' %}', {target: '{{ request.GET.target }}'}, function(data) {})
        })()
    </script>
{% endblock %}
