{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "Dashboard" %} - ikwen </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/dashboard.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Dashboard" %}</li>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function () {
            $('div#admin-nav .dashboard').addClass('active');
            $('#performances-period').on('click', 'li', function () {
                var target = $(this).data('target'),
                    targetLabel = $(this).find('a').text();
                $('.performances .report').hide();
                $('.performances .report.' + target).show();
                $('#period .target').text(targetLabel);
                $('#performances-period li').show();
                $(this).hide();
            });
        })()
    </script>
{% endblock %}
