{% extends "core/base_bs.html" %}
{% load i18n static %}
{% block meta %}
    {% include 'core/snippets/color_and_icons.html' %}
    <meta property="description" content="{{ config.short_description }}" />
    <meta property="og:title" content="{{ service.project_name }}" />
    <meta property="og:image" content="{% get_media_prefix %}{{ config.logo.name }}" />
    <meta property="og:description" content="{{ config.short_description }}" />
    <meta property="og:url" content="{{ service.url }}" />
    <meta property="og:site_name" content="{{ service.domain|upper }}" />
{% endblock %}
{% block page_title %}<title>{{ service.project_name }} - {{ config.short_description  }} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <style type="text/css">
        #top {height: 0}
        footer {display: none}
    </style>
{% endblock %}
{% block content %}
    <div id="content" class="container">
        <div style="margin-top: 9%; text-align: center">
            {% if config.logo.name %}
            <img src="{{ config.logo.url }}" height="250"/>
            {% endif %}
            <div style="padding-top: 30px; text-align: center">
                <h2>{{ service.project_name }}</h2>
                <p style="color: #888; font-weight: 300"> {{ config.short_description  }} </p>
            </div>
        </div>
    </div>
{% endblock %}