{% extends "core/app_base_admin.html" %}
{% block page_title %}<title>{{ service.project_name }} - ikwen</title>{% endblock %}
{% block breadcrumb_location %}
    <li style="text-transform: capitalize">{{ model_name }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="no-edge-panel-right">
        <div class="container-fluid embed">
            <iframe id="billing-stage" src="{{ iframe_url }}"></iframe>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}