{% extends "core/app_base_admin.html" %}
{% load i18n humanize staticfiles admin_list %}

{% block page_title %}
<title> {{ verbose_name_plural|capfirst }} - {{ service.project_name }} </title>
{% endblock %}

{% block breadcrumb_location %}
    <li>{{ verbose_name_plural|capfirst }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results">
                {% include html_results_template_name %}
            </div>
        </div>
    </div>
{% endblock %}

{% block after_content %}
    <div id="period-chooser" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Choose custom period" %}</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="start-date">From:</label>
                            <input type="text" id="start-date" class="form-control input-sm" />
                            <input type="hidden" id="start-alt" />
                        </div>
                        <div class="form-group">
                            <label for="end-date">To:</label>
                            <input type="text" id="end-date" class="form-control input-sm" />
                            <input type="hidden" id="end-alt" />
                        </div>
                    </form>
                    <div class="actions">
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                            <button class="btn btn-sm btn-success btn-block confirm-period"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                            <button class="btn btn-sm btn-default btn-block cancel-period"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if is_sortable %}
        {% include 'core/snippets/sort_and_actions.html' %}
    {% endif %}
    <script type="text/javascript">
        (function() {
            var target = '{{ verbose_name_plural|slugify }}' ? '{{ verbose_name_plural|slugify }}' : 'blank';
            $('div#admin-nav .' + target).addClass('active');
            $('#start-date').datepicker({
                altField: "#start-alt",
                altFormat: "yy-mm-dd"
            });
            $('#end-date').datepicker({
                altField: "#end-alt",
                altFormat: "yy-mm-dd"
            });
            var period = 'today';  // Initial period is today
            $('.filter-trigger .period select').change(function() {
                var val = $(this).val(),
                    target = $(this).attr('id');
                if (val === 'other') {
                    $('#period-chooser').data('target', target).modal('show');
                    return false;
                }
            });
            $('.cancel-period').click(function() {
                $('#period').val(period);
            });
            $('.confirm-period').click(function() {
                var target = $('#period-chooser').data('target'),
                    start = $('#start-date').val(),
                    end = $('#end-date').val();
                if (start && end) {
                    var value = '__period__' + $('#start-alt').val() + ',' + $('#end-alt').val(),
                        $option = $('<option value="' + value + '">' + start + ' to ' + end + '</option>'),
                        $target = $('#' + target);
                    if ($target.find('optgroup').length === 0) {
                        var $optgroup = $('<optgroup label="-------"></optgroup>');
                        $target.append($optgroup);
                    }
                    $target.find('optgroup').append($option).val(value).change();
                    $target.val(value).change();
                }
            });
        })()
    </script>
{% endblock %}
