{% extends "core/object_list_base.html" %}
{% load i18n humanize staticfiles admin_list %}

{% block page_title %}
    <title> Email Log </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        .sending-failed {margin: 2px 3px 0 0}
        #admin-tools-actions, .email-infos-mobile {
            display: none;
        }
        @media only screen and (max-device-width: 767px) {
            .email-infos , .email-infos-mobile {
                display: block;
            }
        }
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>Email Log</li>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (() => {
            $('div#admin-nav .email-log').addClass('active');
        })()
       </script>
{% endblock %}