{% extends 'core/app_base_admin.html' %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title> {% trans "Configure theme" %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/uploader-single.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumb_location %}
    <li>
        <a href="{% url 'theming:theme_list' %}">{% trans "Themes" %}</a>
    </li>
    <li>{{ theme.name }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="container-fluid change-form">
        {% url 'theming:configure_theme' as change_theme_url %}
        {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
        <form id="submit-theme" class="admin-form" method="post" action="{{ change_theme_url|append_auth_tokens:request }}">{% csrf_token %}
            <input type="hidden" name="theme_id" value="{{ theme.id }}" />
            <input type="hidden" name="image_url" id="image_url" value="" />
            {% include 'core/snippets/model_admin_form.html' %}
            <section class="photos" style="width: 100%">
                <label class="required" style="float: left; width: 100%">{% trans "Logo" %}</label>
                <div id="upload-container">
                    {% if theme.logo.name %}
                    <div class="image" style="background-image: url('{% get_media_prefix %}{{ theme.logo.name }}')">
                    {% else %}
                    <div class="image">
                    {% endif %}
                        <span class="progress"></span>
                        <div class="uploader"></div>
                        {% include 'core/snippets/spinner.html' %}
                    </div>
                </div>
                <p class="help clear" style="width: 280px">
                    <strong>{% trans "Your logo" %}</strong>:
                    <em class="text-muted">{% block theme_logo_dimensions %}{% endblock %}</em>
                    {% if theme.logo.name %}
                    <i id="delete-theme-logo" class="glyphicon glyphicon-trash"></i>
                    {% endif %}
                </p>
            </section>
            <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .theming').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
            {% if request.GET.success %}
                ikwen.showFloatingNotice("{% trans "Configuration successfully saved." %}", '', 6);
            {% endif %}
            var uploader = new qq.FileUploader({
                action: "{% url 'ikwen:upload_image' %}",
                element: $('div#upload-container .uploader')[0],
                buttonText: "{% trans "Upload Logo" %}",
                multiple: false,
                onProgress: function(id, fileName, loaded, total) {
                    var ratio = loaded / total,
                        percent = ratio * 100;
                    $('div#upload-container .image .progress').animate({width: percent + '%'});
                    if (ratio == 1) $('div#upload-container .image .spinner').show()
                },
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        var imageUrl = responseJSON.path,
                            img = new Image();
                        img.onload = function() {
                            $('div#upload-container .image').css('background-color', "#fff")  // Causes the placeholder image to disappear
                                    .css('background-image', "url('" + imageUrl +"')")
                                    .find('.progress, .spinner').hide();
                        };
                        img.src = imageUrl;
                        $('#image_url').val(imageUrl);
                    } else {
                        alert("upload failed!");
                    }
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken'
                }
            });
            $('#delete-theme-logo').click(function() {
                $.getJSON('{% url 'theming:delete_logo' %}');
                $('div#upload-container .image').css('background-image', "url('" + '{% static 'ikwen/img/no_photo.png' %}' +"')");
            });
        })()
    </script>
{% endblock %}
