{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Themes" %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        .glyphicon.check:not(.active) {display: none}
        .glyphicon.check:not(.active):hover {display: block}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Themes" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="container-fluid">
        <div id="results">
            <ul class="tiles object-list" style="padding: 20px 0 0 0">
            {% for theme in theme_list %}
                {% if theme == config.theme %} {# Only show active theme for now #}
                <li class="ik-li theme tile" id="{{ theme.id }}" data-id="{{ theme.id }}">
                    <a href="{% url 'theming:configure_theme' theme.id %}" class="image" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ theme.preview.name }})"></a>
                    <div class="info">
                        <span class="name">{{ theme.name }}</span>
                        <p class="about">{{ theme.template.name }}</p>
                    </div>
                    <div class="actions">
                        <i class="glyphicon glyphicon-cog conf-{{ theme.slug }}" data-toggle="modal" data-target="#conf-{{ theme.slug }}" title="{% trans "Configure" %}"></i>
                    </div>
                    <i class="glyphicon glyphicon-ok check{% if theme == config.theme %} active{% endif %}"
                       title="{% if theme.is_active %}{% trans "Cancel" %}{% else %}{% trans "Activate" %}{% endif %}"></i>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .theming').addClass('active');
            $('#admin-content').on('click', '.ik-li .check', function() {
                var meanId = $(this).parents('.ik-li').data('id'),
                    _$check = $(this);
{#                $.getJSON('{% url 'billing:toggle_payment_mean' %}', {mean_id: meanId}, function(resp) {#}
{#                    if (resp.error) {#}
{#                        ikwen.showFloatingNotice(resp.error, '', 5);#}
{#                        return#}
{#                    }#}
{#                    _$check.toggleClass('active');#}
{#                })#}
            });
        })()
    </script>
{% endblock %}
