{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Themes" %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        .glyphicon.check:not(.active) {display: none}
        .glyphicon.check:not(.active):hover {display: block}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Themes" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <div id="results">
                <ul class="tiles object-list">
                {% for theme in theme_list %}
                    {% if theme == config.theme %} {# Only show active theme for now #}
                    <li class="ik-li theme tile" id="{{ theme.id }}" data-id="{{ theme.id }}">
                        <div class="content">
                            <a href="{% url 'theming:configure_theme' theme.id %}" class="image" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ theme.preview.name }})"></a>
                            <div class="info">
                                <span class="name">{{ theme.name }}</span>
                                <p class="about">{{ theme.template.name }}</p>
                            </div>
                            <div class="actions"></div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .theming').addClass('active');
        })()
    </script>
{% endblock %}
