{% extends "core/base_bs.html" %}
{% load i18n static %}
{% block meta %}
    {% include 'core/snippets/color_and_icons.html' %}
    <meta property="description" content="{{ config.short_description }}" />
    <meta property="og:title" content="{{ service.project_name }}" />
    <meta property="og:image" content="{% get_media_prefix %}{{ config.logo.name }}" />
    <meta property="og:description" content="{{ config.short_description }}" />
    <meta property="og:url" content="{{ service.url }}" />
    <meta property="og:site_name" content="{{ service.domain|upper }}" />
{% endblock %}
{% block page_title %}<title>Error 500 - ikwen </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <style type="text/css">
        #navbar {display: none}
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div style="margin:9% 5% 0; text-align: center;">
            <div style="padding-top: 20px; text-align: center;">
                <img src="{% static 'ikwen/img/embarassed.jpg' %}" height="200"/>
                <h2 style="font-size: 45px;">Oops !!!!</h2>
                <p style="color: #888; font-weight: 300;padding-top:12px;font-size:21px"> {% trans "Something went wrong ..." %} </p>
                <a class="btn btn-primary" href="/" style="font-size: 18px;margin-top: 15px;min-width:200px">
                    {% trans "Let's try again" %}
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
     <footer style="font-size: 12px; margin-top: 45px; text-align: center">
            &copy; {{ year }} <a class="company-name" href="{{ settings.IKWEN_BASE_URL }}"><strong>ikwen</strong></a>.
            {% trans "All rights reserved." %}
     </footer>
{% endblock %}