{% extends "core/base_admin.html" %}
{% load i18n humanize staticfiles auth_tokens %}

{% block app_admin_nav %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="dashboard">
            {% if settings.IS_IKWEN %}
                {% url 'partnership:dashboard' as dashboard_url %}
            {% else %}
                {% url 'dashboard' as dashboard_url %}
            {% endif %}
            <a href="{{ dashboard_url }}">{% trans "Dashboard" %}</a>
        </li>
    </ul>
    <div class="divider"></div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="apps">
            {% if settings.IS_IKWEN %}
                {% url 'partnership:app_list' as app_list_url %}
            {% else %}
                {% url 'app_list' as app_list_url %}
            {% endif %}
            <a href="{{ app_list_url }}">{% trans "Apps" %}</a>
        </li>
        <li role="presentation" class="services">
            {% if settings.IS_IKWEN %}
                {% url 'partnership:service_list' as service_list_url %}
            {% else %}
                {% url 'service_list' as service_list_url %}
            {% endif %}
            <a href="{{ service_list_url }}">{% trans "Services" %}</a>
        </li>
    </ul>
{% endblock %}