{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title> {% if product %}{{ product.name }}{% else %}{% trans "New product" %}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block breadcrumb_location %}
    <li>
        <a href="{% url 'billing:product_list' %}">{% trans "Products" %}</a>
    </li>
    {% if product %}
        <li>{{ product.name }}</li>
    {% else %}
        <li>{% trans 'New' %}</li>
    {% endif %}
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form">
        <div class="container-fluid">
            {% url 'billing:change_product' as change_product_url %}
            {% if errors %}<p class="alert alert-danger">{{ errors }}</p>{% endif %}
            <form id="submit-product" class="admin-form" method="post" action="{{ change_product_url }}">{% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}" />
{#                <input type="hidden" name="image_url" id="image_url" value="" />#}
                {% include 'core/snippets/model_admin_form.html' %}
{#                <section class="photos" style="width: 100%">#}
{#                    <label class="required" style="float: left; width: 100%">{% trans "Cover image" %}</label>#}
{#                    <div id="upload-container">#}
{#                        {% if product.image and product.image.name %}#}
{#                        <div class="image" style="background-image: url('{{ product.image.url }}')">#}
{#                        {% else %}#}
{#                        <div class="image">#}
{#                        {% endif %}#}
{#                            <span class="progress"></span>#}
{#                            <div class="uploader"></div>#}
{#                            {% include 'core/snippets/spinner.html' %}#}
{#                        </div>#}
{#                    </div>#}
{#                    <p class="help clear">{% trans "Nice cover photo to help customer have an idea" %} (640px &times; 426px Recommended)</p>#}
{#                </section>#}
                <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                    <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/ajaxuploader/js/fileuploader.js' %}"></script>
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .subscription-plans').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
            {% if messages %}
                {% for msg in messages %}ikwen.showFloatingNotice('{{ msg }}', '', 6);{% endfor %}
            {% endif %}
        })()
    </script>
{% endblock %}
