{% extends 'core/app_base_admin.html' %}
{% load i18n humanize static auth_tokens %}

{% block page_title %}
<title> {{ obj.member.full_name }} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/change-form.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>
        <a href="{% url 'billing:subscription_list' %}">{% trans "Subscriptions" %}</a>
    </li>
    <li>{{ obj.member.full_name }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <form class="container-fluid" method="post" action="">{% csrf_token %}
                {% if form.errors %}
                    <div class="errorlist">{{ form.errors }}</div>
                {% endif %}
                <div class="ik-li member" style="border-bottom: none">
                    {% with member=obj.member %}
                    {% if member.photo.name %}
                        <div class="photo bg-img" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ member.photo.name }})"></div>
                    {% else %}
                        <div class="photo bg-img" style="background-image: url({% get_static_prefix %}ikwen/img/member-avatar.jpg)"></div>
                    {% endif %}
                    <div class="info">
                        <a class="full_name target_url">{{ member.full_name }}</a>
                        <p class="about">
                            <span class="phone">{{ member.phone }}</span>, <span class="email">{{ member.email }}</span>
                        </p>
                    </div>
                    {% endwith %}
                </div>
                <header>
                    <h3 style="float: left"> {% trans "Subscription details" %} </h3>
                    {% if obj.status == 'Suspended' %}
                        <span class="label label-danger" style="float: right">{% trans "Expired" %}</span>
                    {% else %}
                        <span class="label label-success" style="float: right">{% trans "Active" %}</span>
                    {% endif %}
                    <div class="clear"></div>
                </header>
                <div class="detail row">
                    <label class="col-sm-3">{% trans "Plan" %}</label>
                    <span>
                        <a href="{% url 'billing:change_product' obj.product.id  %}">{{ obj.product.name }}</a>
                    </span>
                </div>
                <div class="detail row">
                    <label class="col-sm-3">{% trans "Duration" %}</label>
                    <span>{{ obj.product.duration }} {% trans "days" %} ({{ obj.product.duration_text }})</span>
                </div>
                <div class="detail row">
                    <label class="col-sm-3">{% trans "Cost" %}</label>
                    <span>
                        <span class="text-muted">{{ config.currency_symbol }}</span>
                        {{ obj.product.cost|floatformat:"0"|intcomma }}
                    </span>
                </div>
                <div class="detail row">
                    <label class="col-sm-3">{% trans "Since" %}</label>
                    <span>{{ obj.since|date }}</span>
                </div>
                <div class="detail row">
                    <label class="col-sm-3">{% trans "Expiry" %}</label>
                    <span>{{ obj.expiry|date }}</span>
                </div>
{#                <div class="left-0" style="padding-top: 30px; margin-bottom: 10px">#}
{#                    <div class="col-xs-12 col-sm-3 col-md-2">#}
{#                        <button class="btn btn-sm btn-block btn-success">{% trans "Save" %}</button>#}
{#                    </div>#}
{#                </div>#}
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .subscriptions').addClass('active');
            $('.form-row').addClass('form-group');
            $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
        })()
    </script>
{% endblock %}
