{% extends "core/change_object_base.html" %}
{% load i18n humanize staticfiles auth_tokens admin_list %}

{% block page_title %}
<title> {% trans "Configurations" %} - ikwen </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/change-form.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Invoicing Configuration" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form no-edge-panel-right">
        <div class="container-fluid">
            <div id="stage" style="float: none; margin: auto">
                <form id="configuration" class="admin-form pull-left" style="width: auto" method="post">{% csrf_token %}
                    {% include 'core/snippets/model_admin_form.html' %}
                    {% for media_obj in media_field_list %}
                    <div style="padding-left: 0; margin-right: 15px">
                        <div>
                        {% with media=media_obj %}
                            {% include 'core/snippets/media_uploader_single.html' %}
                        {% endwith %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group col-xs-12 col-sm-4 col-md-3" style="clear: both; padding-top: 15px">
                        <button class="btn btn-sm btn-primary btn-block">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
