{% extends "core/base_bs.html" %}
{% load i18n humanize staticfiles %}
{% block page_title %}
    <title>{{ config.company_name }} - {% trans "Invoice" %} #{{ invoice.number }}</title>
{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/console.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'ikwen/css/grids.css' %}" rel='stylesheet' />
    <style>
        body {background: #f6f6f6}
        #navbar {display: none}
        header#main {background: #f9f9f9; border-bottom: 1px solid #ddd; padding: 6px 15px 15px}
        header#main img {float: left}
        header#main .badge {background: #039B03; border-radius: 4px; color: #fff; float: right;
            font: bold 11px Arial; margin-right: 15px; padding: 3px 10px}
        header#main form div {line-height: 24px}

        #summary {
            margin-bottom: 2em
        }
        table#summary tr td {vertical-align: top}
        #summary p {margin-bottom: 3px}
        table {width: 100%}
        table.grid tr td:first-child {font-weight: 400}
        table tr.em td {background: #f6f6f6}
        table tr.em1 td {background: #EFF8FF; border: none; font-size: 1.45em; padding: 10px}
        table td em {color: #888}
        .processing-fees {font-size: .9em; padding-top: 3px}
        #actions {float: right; margin-top: 15px}
    </style>
{% endblock %}

{% block content  %}
    <div id="content" class="container">
        <div class="subtle-shade" style="border-radius: 6px; overflow: hidden">
            <header id="main" class="row" data-amount="{{ invoice.amount }}" data-monthly-cost="{{ invoice.service.monthly_cost }}">
                <div class="col-sm-4">
                    {% if config.logo.name %}
                        <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" height="50"/>
                    {% else %}
                        <h2>{{ config.company_name }}</h2>
                    {% endif %}
                </div>
                {% if invoice.status == 'Paid' %}
                    <div class="badge">{% trans "Paid" %}</div>
                {% else %}
                    <form id="pay-with" class="col-sm-5 col-md-4 pull-right" action="{% url payment_mean_list.0.action_url_name %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="invoice_id" value="{{ invoice.id }}" />
                        <input type="hidden" id="extra-months" name="extra_months" value="0" />
                        <div style="font-size: 1.35em; font-style: italic">{% trans "Pay with" %}</div>
                        <div class="form-group row" style="padding-top: 6px">
                            <div class="col-sm-8">
                                <label for="payment-mean" class="sr-only">Payment mean</label>
                                <select id="payment-mean" class="form-control input-sm">
                                    {% for mean in payment_mean_list %}
                                        <option value="{% url mean.action_url_name %}">{{ mean.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-success btn-sm btn-block">{% trans "Pay now" %}</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                <div class="clear"></div>
            </header>
            <div style="background: #fff; padding: 0 15px 15px">
                <table id="summary">
                    <tr>
                        <td class="col-sm-4">
                            <h4>{% trans "Invoice" %} #<strong>{{ invoice.number }}</strong></h4>
                            <div>
                                <p>{% trans "Date issued" %}: {{ invoice.date_issued }}</p>
                                <p>{% trans "Due date" %}: {{ invoice.due_date }}</p>
                            </div>
                        </td>
                        <td class="col-sm-4">
                            <h4>{% trans "Invoiced To" %}</h4>
                            <div>
                                {% if customer_config %}
                                    <p>{{ customer_config.company_name }}</p>
                                    {% if customer_config.address %}<p>{{ customer_config.address }}</p>{% endif %}
                                    <p>{% if customer_config.city %}{{ customer_config.city }},{% endif %}
                                        {% if customer_config.country %}{{ customer_config.country.name }}{% endif %}</p>
                                {% else %}
                                    <p>{{ invoice.service.member.get_full_name }}</p>
                                    <p>{{ invoice.service.member.phone }}</p>
                                {% endif %}
                            </div>
                        </td>
                        <td class="col-sm-4">
                            <h4>{% trans "Pay To" %}</h4>
                            <div>
                                {% if config.company_name %}<p>{{ config.company_name }}</p>{% endif %}
                                {% if config.address %}<p>{{ config.address }}</p>{% endif %}
                                {% if config.city %}<p>{{ config.city }}</p>{% endif %}
                                {% if config.country %}<p>{{ config.country }}</p>{% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="grid" style="border-collapse: collapse">
                    <tr class="em" style="font-size: 1.35em">
                        <td colspan="4">{% trans "Description" %}</td>
                        <td class="numeric">{% trans "Amount" %}</td>
                    </tr>
                    {% if invoice.is_one_off %}
                        {% for entry in invoice.entries %}
                            <tr>
                                <td colspan="4">
                                    {{ entry.item.label }}
                                    {% if entry.short_description %}: <em class="text-muted">{{ entry.short_description }}</em>{% endif %}
                                </td>
                                <td class="numeric">
                                    <span class="pull-left"> <em class="text-muted">x{{ entry.quantity }}</em> </span>
                                    <span class="pull-right"> {{ currency_symbol }} {{ entry.total|intcomma }} </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" style="padding: 6px">
                                {{ invoice.service.details|safe }}
                            </td>
                            <td>
                                {% if invoice.status != 'Paid' and extensions %}
                                    <label for="extensions">{% trans "Extend payment until" %}</label>
                                    <select id="extensions" class="form-control input-sm">
                                        <option value="0">N/A</option>
                                        {% for extension in extensions %}
                                        <option value="{{ extension.months }}">
                                            {{ extension.expiry }}: {{ extension.months }} {% trans 'Month(s)' %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </td>
                            <td class="numeric" id="subtotal">{{ currency_symbol }} {{ invoice.amount|intcomma }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="5" style="border: none; padding:1em"></td>
                    </tr>
                    <tr class="em1">
                        <td colspan="4">{% trans "Total" %}</td>
                        <td id="total" class="numeric">
                            <span>{{ currency_symbol }} {{ invoice.amount|intcomma }}</span>
                        </td>
                    </tr>
                    {% if invoice.status != 'Paid' and config.processing_fees_on_customer %}
                        <tr>
                            <td colspan="5" class="text-muted processing-fees">
                                + <strong>{{ currency_symbol }} {{ config.ikwen_share_fixed }}</strong> {% trans "Processing fees" %}
                            </td>
                        </tr>
                    {% elif invoice.status == 'Paid' and invoice.processing_fees %}
                        <tr>
                            <td colspan="5" class="text-muted processing-fees">
                                + <strong>{{ currency_symbol }} {{ invoice.processing_fees }}</strong> {% trans "Processing fees" %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if invoice.payment_set.all|length > 0 %}
                        <tr class="dashed-separator">
                            <td colspan="5" style="border: none">
                                <div style="border-top: 1px dashed #666"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="border-top: none; font-size: 1.35em; text-align: left">{% trans "Payments" %}</td>
                        </tr>
                        <tr class="em">
                            <td colspan="2">{% trans "Transaction date" %}</td>
                            <td>{% trans "Method" %}</td>
                            <td>{% trans "Transaction ID" %}</td>
                            <td class="numeric">{% trans "Amount" %}</td>
                        </tr>
                        {% for payment in invoice.payment_set.all %}
                            <tr class="payment">
                                <td colspan="2">{{ payment.created_on }}</td>
                                <td>{{ payment.method }}</td>
                                <td>{{ payment.id }}</td>
                                <td class="numeric">{{ currency_symbol }} {{ payment.amount|intcomma }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div id="actions">
            <a href="{% url 'billing:invoice_list' %}" class="button default">{% trans "Back to Client Area" %}</a>
{#            <a href="#" class="button default">{% trans "Download" %}</a>#}
            {# TODO: Downloadable version of the Invoice #}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('#extensions').change(function() {
                var additionalMonth = $(this).val(),
                    invoiceAmount = $('#main').data('amount'),
                    monthlyCost = $('#main').data('monthly-cost'),
                    total = additionalMonth * monthlyCost + invoiceAmount;
                $('#subtotal').text('{{ currency_symbol }} ' + total.formatMoney());
                $('#total').text('{{ currency_symbol }} ' + total.formatMoney());
            });
            $('#payment-mean').change(function () {
                var action = $(this).val();
                $('#pay-with').attr('action', action);
            });
            $('#extensions').change(function () {
                var extraMonths = $(this).val();
                $('#extra-months').val(extraMonths);
            })
        })()
    </script>
{% endblock %}