{% extends 'core/object_list_base.html' %}

{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Payment means" %} - {{ service.project_name }}</title>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Payment means" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            <div id="results" class="results-stage">
                <ul class="object-list list-group" style="padding: 20px 0 0 0">
                {% for mean in payment_mean_list_all %}
                    <li class="ik-li list-group-item mean {{ obj.status }}" id="{{ mean.id }}" data-id="{{ mean.id }}"
                            {% for key, value in mean.credentials.items  %}data-{{ key }}="{{ value }}"{% endfor %}>
                        <div class="image" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ mean.logo.name }})"></div>
                        <div class="info">
                            <span class="title" style="float: left; margin-top: 18px">{{ mean.name }}</span>
                        </div>
                        <div class="actions">
                            {% if mean.is_active %}
                                <i class="action glyphicon glyphicon-ok toggle active off" title="{% trans "Deactivate" %}"></i>
                            {% else %}
                                <i class="action glyphicon glyphicon-ok toggle active on" title="{% trans "Activate" %}"></i>
                            {% endif %}
                            <i class="action glyphicon glyphicon-cog conf-{{ mean.slug }}" data-toggle="modal" data-target="#conf-{{ mean.slug }}" title="{% trans "Configure" %}"></i>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="conf-paypal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Configure" %} Paypal</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="pp-username" class="col-sm-5 col-md-4">{% trans "Paypal Username" %}</label>
                            <div class="col-sm-7">
                                <input type="text" id="pp-username" name="username" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pp-password" class="col-sm-5 col-md-4">{% trans "Paypal Password" %}</label>
                            <div class="col-sm-7">
                                <input type="text" id="pp-password" name="password" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pp-signature" class="col-sm-5 col-md-4">{% trans "Paypal API Signature" %}</label>
                            <div class="col-sm-7">
                                <input type="text" id="pp-signature" name="signature" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pp-merchant-id" class="col-sm-5 col-md-4">{% trans "Paypal Merchant ID" %}</label>
                            <div class="col-sm-7">
                                <input type="text" id="pp-merchant-id" name="merchant_id" class="form-control input-sm" />
                            </div>
                        </div>
                    </form>

                    <div class="row" style="clear: both; padding-top: 1em">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-success btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="conf-orange-money" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Configure" %} Orange Money</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="om-merchant-key" class="col-sm-5 col-md-4">{% trans "Merchant Key" %}</label>
                            <div class="col-sm-7">
                                <input type="text" id="om-merchant-key" name="merchant_key" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="om-auth-header" class="col-sm-5 col-md-4">{% trans "Authorization header" %}</label>
                            <div class="col-sm-7">
                                <input type="text" id="om-auth-header" name="auth_header" class="form-control input-sm" />
                            </div>
                        </div>
                    </form>
                    <div class="row" style="clear: both; padding-top: 1em">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-success btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="conf-mtn-momo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Configure" %} MTN Mobile Money</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="mtn-momo-subscription-key" class="col-sm-5 col-md-4">Subscription key</label>
                            <div class="col-sm-7">
                                <input type="text" id="mtn-momo-subscription-key" name="subscription_key" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mtn-momo-api-user" class="col-sm-5 col-md-4">API user</label>
                            <div class="col-sm-7">
                                <input type="text" id="mtn-momo-api-user" name="api_user" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mtn-momo-api-key" class="col-sm-5 col-md-4">API key</label>
                            <div class="col-sm-7">
                                <input type="text" id="mtn-momo-api-key" name="api_key" class="form-control input-sm" />
                            </div>
                        </div>
                    </form>
                    <div class="row" style="clear: both; padding-top: 1em">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-success btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="conf-mtn-momo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Configure" %} YUP</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="yup-merchant-id" class="col-sm-5 col-md-4">Merchant ID</label>
                            <div class="col-sm-7">
                                <input type="text" id="yup-merchant-id" name="merchant_id" class="form-control input-sm" />
                            </div>
                        </div>
                    </form>
                    <div class="row" style="clear: both; padding-top: 1em">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-success btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .payment-means').addClass('active');
            $('#admin-content').on('click', '.conf-paypal', function() {
                let meanId = $(this).parents('.ik-li').data('id'),
                    username = $(this).parents('.ik-li').data('username'),
                    password = $(this).parents('.ik-li').data('password'),
                    signature = $(this).parents('.ik-li').data('signature'),
                    merchantId = $(this).parents('.ik-li').data('merchant_id');
                $('#pp-username').val(username);
                $('#pp-password').val(password);
                $('#pp-signature').val(signature);
                $('#pp-merchant-id').val(merchantId);
                $('div#conf-paypal button.btn-success').data('mean-id', meanId);
            }).on('click', '.conf-orange-money', function() {
                let meanId = $(this).parents('.ik-li').data('id'),
                    merchantKey = $(this).parents('.ik-li').data('merchant_key'),
                    authHeader = $(this).parents('.ik-li').data('auth_header');
                $('#om-merchant-key').val(merchantKey);
                $('#om-auth-header').val(authHeader);
                $('div#conf-orange-money button.btn-success').data('mean-id', meanId);
            }).on('click', '.conf-mtn-momo', function() {
                let meanId = $(this).parents('.ik-li').data('id'),
                    subscriptionKey = $(this).parents('.ik-li').data('subscription_key'),
                    APIUser = $(this).parents('.ik-li').data('api_user'),
                    APIKey = $(this).parents('.ik-li').data('api_key');
                $('#mtn-momo-subscription-key').val(subscriptionKey);
                $('#mtn-momo-api-user').val(APIUser);
                $('#mtn-momo-api-key').val(APIKey);
                $('div#conf-mtn-momo button.btn-success').data('mean-id', meanId);
            }).on('click', '.conf-yup', function() {
                let meanId = $(this).parents('.ik-li').data('id'),
                    merchantID = $(this).parents('.ik-li').data('merchant_id');
                $('#yup-merchant-id').val(merchantID);
                $('div#conf-yup button.btn-success').data('mean-id', meanId);
            });
            $('div#conf-paypal button.btn-success').click(function() {
                let credentials = JSON.stringify({
                    username: $('#pp-username').val(),
                    password: $('#pp-password').val(),
                    signature: $('#pp-signature').val(),
                    merchant_id: $('#pp-merchant-id').val()
                }),
                meanId = $(this).data('mean-id');
                $.getJSON('{% url 'billing:set_credentials' %}', {mean_id: meanId, credentials: credentials}, function(resp) {
                    if (resp.error) {
                        ikwen.showFloatingNotice(resp.error, '', 5);
                        return
                    }
                    ikwen.showFloatingNotice("{% trans "PayPal successfully configured" %}", '', 5);
                })
            });
            $('div#conf-orange-money button.btn-success').click(function() {
                let credentials = JSON.stringify({
                    merchant_key: $('#om-merchant-key').val(),
                    auth_header: $('#om-auth-header').val()
                }),
                meanId = $(this).data('mean-id');
                $.getJSON('{% url 'billing:set_credentials' %}', {mean_id: meanId, credentials: credentials}, function(resp) {
                    if (resp.error) {
                        ikwen.showFloatingNotice(resp.error, '', 5);
                        return
                    }
                    ikwen.showFloatingNotice("{% trans "Orange Money successfully configured" %}", '', 5);
                })
            });
            $('div#conf-mtn-momo button.btn-success').click(function() {
                let credentials = JSON.stringify({
                    subscription_key: $('#mtn-momo-subscription-key').val(),
                    api_user: $('#mtn-momo-api-user').val(),
                    api_key: $('#mtn-momo-api-key').val()
                }),
                meanId = $(this).data('mean-id');
                $.getJSON('{% url 'billing:set_credentials' %}', {mean_id: meanId, credentials: credentials}, function(resp) {
                    if (resp.error) {
                        ikwen.showFloatingNotice(resp.error, '', 5);
                        return
                    }
                    ikwen.showFloatingNotice("{% trans "MTN Mobile Money successfully configured" %}", '', 5);
                })
            });
            $('div#conf-yup button.btn-success').click(function() {
                let credentials = JSON.stringify({
                    merchant_id: $('#yup-merchant-id').val()
                }),
                meanId = $(this).data('mean-id');
                $.getJSON('{% url 'billing:set_credentials' %}', {mean_id: meanId, credentials: credentials}, function(resp) {
                    if (resp.error) {
                        ikwen.showFloatingNotice(resp.error, '', 5);
                        return
                    }
                    ikwen.showFloatingNotice("{% trans "YUP successfully configured" %}", '', 5);
                })
            });
        })()
    </script>
{% endblock %}
