{% extends 'core/app_base_admin.html' %}

{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title>{% trans "Subscriptions" %} - {{ service.project_name }}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        .date .fa-circle.color-active {color: transparent}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Subscriptions" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results" style="clear: both">
                {% include 'core/snippets/spinner.html' %}
                {% include 'billing/snippets/subscription_list_results.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .subscriptions').addClass('active');
        })()
    </script>
{% endblock %}
