{% load i18n humanize static auth_tokens %}

<section class="photos" style="width: 100%">
    <label class="required upload-title" style="float: left; width: 100%">{% blocktrans with media_field_name=media.media.field.name %}Upload {{ media_field_name }}{% endblocktrans %}</label>
    <input type="hidden" name="{{ media.field }}" value="{% if upload_to_ikwen %}{{ settings.IKWEN_MEDIA_URL }}{% else %}{% get_media_prefix %}{% endif %}{{ media.media.name }}" />
    <div id="upload-container{{ media.counter }}" class="upload-container">
        {% if media.preview and media.preview == media.media %}
        <div class="image" style="background-image: url('{% if upload_to_ikwen %}{{ settings.IKWEN_MEDIA_URL }}{% else %}{% get_media_prefix %}{% endif %}{{ media.preview }}')">
        {% elif media.preview and media.preview != media.media %}
        <div class="image" style="background-image: url('{{ media.preview }}')">
        {% else %}
        <div class="image">
        {% endif %}
            <span class="progress"></span>
            <div class="uploader"></div>
            {% include 'core/snippets/spinner.html' %}
            <a href="{% if upload_to_ikwen %}{{ settings.IKWEN_MEDIA_URL }}{% else %}{% get_media_prefix %}{% endif %}{{ media.media.name }}"
               class="full-view" target="_blank">
                <i class="fas fa-eye"></i>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
    <p class="help clear">
        {% if media.media.name and not media.media.field.read_only %}
        <i class="glyphicon glyphicon-trash delete-media delete-media{{ media.counter }}" title="{% trans "Delete media" %}"></i>
        <span>{{ media.media.field.help_text }}</span>
        {% else %}
        <span>{{ media.media.field.help_text }}</span>
        {% endif %}
    </p>
</section>

{% if not read_only_img %}
<script type="text/javascript">
    (function() {
        $('.form-row').addClass('form-group');
        $('.form-row input, .form-row select, .form-row textarea').addClass('form-control input-sm');
        $('.form-row textarea').addClass('form-control input-sm');
        let uploader = new qq.FileUploader({
            action: "{% url 'ikwen:upload_image' %}",
            element: $('div#upload-container{{ media.counter }} .uploader')[0],
            {% if media.media.field.allowed_extensions %}allowedExtensions: {{ media.media.field.allowed_extensions|safe }},{% endif %}
            buttonText: "{% trans "Upload media" %}",
            multiple: false,
            onProgress: function(id, fileName, loaded, total) {
                var ratio = loaded / total,
                    percent = ratio * 100;
                $('div#upload-container{{ media.counter }} .image .progress').animate({width: percent + '%'});
            },
            onComplete: function(id, fileName, responseJSON) {
                if(responseJSON.success) {
                    let previewUrl = responseJSON.preview ? responseJSON.preview : responseJSON.path;
                    let img = new Image();
                    $('div#upload-container{{ media.counter }} .image .spinner').show();
                    img.onload = function() {
                        $('div#upload-container{{ media.counter }} .image').css('background-color', "#fff")  // Causes the placeholder image to disappear
                                .css('background-image', "url('" + previewUrl +"')")
                                .find('.progress, .spinner').hide();
                    };
                    img.src = previewUrl;
                    $('div#upload-container{{ media.counter }} .full-view').prop('href', responseJSON.path);
                    $('input[name={{ media.field }}]').val(responseJSON.path);
                } else if (responseJSON.wrong_size) {
                    ikwen.showNoticeDialog('error', "{% trans "Incorrect image size" %}", responseJSON.error)
                } else {
                    alert("Upload failed ! " + responseJSON.error);
                }
            },
            {% with required_width=media.media.field.required_width required_height=media.media.field.required_height %}
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
                'model_name': '{{ model }}',
                'object_id': '{{ obj.id }}',
                'media_field': '{{ media.field }}',
                'label_field': '{{ label_field }}',
                {% if required_width %}'required_width': {{ required_width }},{% endif %}
                {% if required_height %}'required_height': {{ required_height }},{% endif %}
                'upload_to_ikwen': '{{ upload_to_ikwen }}'
            }
            {% endwith %}
        });
        $('.delete-media{{ media.counter }}').click(function() {
            $.getJSON('', {action: 'delete_media', media_field: '{{ media.field }}'});
            $('div#upload-container .image').css('background-image', "url('" + '{% static 'ikwen/img/no_photo.png' %}' +"')");
        });
    })()
</script>
{% endif %}