
{% for fieldset in model_admin_form %}
    <section class="{{ fieldset.name|slugify }}">
    {% if fieldset.name %}<h3>{{ fieldset.name }}</h3>{% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"
                    {% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents|linebreaksbr }}</p>
                        {% elif field.field.name in date_field_list %}
                            <input type="hidden" id="{{ field.field.name }}-alt" name="{{ field.field.name }}" value="{{ field.field.value|date:"Y-m-d" }}" />
                            <input type="text" id="id_{{ field.field.name }}" value="{{ field.field.value|date:"Y-m-d" }}" class="date-field" data-alt="#{{ field.field.name }}-alt" />
                        {% elif field.field.name in datetime_field_list %}
                            <input type="hidden" id="{{ field.field.name }}-alt" name="{{ field.field.name }}_0" value="{{ field.field.value|date:"Y-m-d" }}" />
                            <input type="hidden" id="{{ field.field.name }}_1" name="{{ field.field.name }}_1" value="{{ field.field.value|date:"H:i:s" }}" />
                            <input type="text" id="id_{{ field.field.name }}" value="{{ field.field.value|date:"Y-m-d H:i:s" }}" class="datetime-field" data-alt="#{{ field.field.name }}-alt" data-time="#{{ field.field.name }}_1" />
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </section>
{% endfor %}