<script>
    (function() {
        ikwen.pageSize = {{ page_size }};
        ikwen.initSortable();
        $('#admin-content').on('click', '.actions .active.on', function() {
            var objectId = $(this).parents('.ik-li').data('id');
            $(this).toggleClass('on off');
            $.getJSON('', {'action': 'toggle_attribute', 'object_id': objectId, 'attr': 'is_active', 'val': true})
        }).on('click', '.actions .active.off', function() {
            var objectId = $(this).parents('.ik-li').data('id');
            $(this).toggleClass('on off');
            $.getJSON('', {'action': 'toggle_attribute', 'object_id': objectId, 'attr': 'is_active', 'val': false})
        });
    })()
</script>