{% extends "core/app_base_admin.html" %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
<title> {% trans "Community" %} - ikwen </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        #groups {clear: both}
        #groups .results a {color: #333}
        #groups .results span {color: #888}
        .tab-content .spinner {background: rgba(255, 255, 255, .6); height: 100%; margin-left: -255px; position: fixed; width: 100%}
        ul.people {margin: 0; padding-left: 0}
        .member.Blocked  {opacity: .72; filter:Alpha(opacity=72)}
        #permissions, #profiles, #group-update {border-bottom: 1px solid #eee}
        #profile-tag-list ul {padding: 5px 0 0 5px}
        #profile-tag-list li {list-style-type: none; padding-bottom: 7px}
        #profile-tag-list li input[type=checkbox] {float: left; margin: 2px 6px 0 0}
        #profile-tag-list li span {font-weight: 400}
        #group-update h5 em {color: #888}
        li.member.ghost .full_name {font-style: italic}
        #admin-tools .import {margin-left: 15px}
        #page-navigation {float: left; margin: 10px 0 0 10px}
        @media (min-width: 768px) {
            #groups {clear: both; margin-top: 15px}
            .form-group.new-contact-profile {margin-bottom: 50px}
        }
        @media (max-width: 767px) {
            #admin-tools-form {width: auto}
            #page-navigation {margin-top: 3px}
        }
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Community" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="has-edge-panel-right">
        <div class="container-fluid">
            {# ADMIN TOOLS: Must be smartly replaced by the standard one #}
            <div id="admin-tools">
                <form id="admin-tools-form" onsubmit="return false">
                    <div>
                        <i class="glyphicon glyphicon-search"></i>
                        <i class="glyphicon glyphicon-menu-left hide-search back"></i>
                        <input id="context-search" type="text" class="form-input input-sm tool search" placeholder="{% trans "Search" %}"/>
                    </div>
                </form>
                <div id="page-navigation" class="text-muted" data-page-index="1" data-page-size="{{ page_size }}">
                    {% if total_objects > page_size %}
                        <div><strong class="start">1</strong> - <strong class="finish">{{ page_size }}</strong> {% trans "of" %} <strong class="total">{{ total_objects }}</strong></div>
                        <div style="margin: -8px 0 0 10px"><i class="finished back"> < </i><i class="next"> > </i></div>
                    {% else %}
                        <div>{{ total_objects }}/{{ total_objects }}</div>
                    {% endif %}
                </div>
{#                <a href="javascript:;" class="btn btn-sm btn-success cta import pull-right action"#}
{#                        title="{% trans "Import contacts from Spreasheet" %}">#}
{#                    <i class="glyphicon glyphicon-list-alt"></i>#}
{#                    <span class="hidden-xs">{% trans "Import" %}</span>#}
{#                </a>#}
                <a href="javascript:;" class="btn btn-sm btn-success cta add pull-right action"
                        data-toggle="modal" data-target="#modal-add-contact" title="{% trans "Add new contact" %}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span class="hidden-xs">{% trans "Add" %}</span>
                </a>
                <div class="clearfix"></div>
            </div>
            {# END ADMIN TOOLS #}
            <div id="groups" class="content-tab-list ceil">
                <div class="swiper-container">
                    <div class="nav nav-tabs" role="tablist">
                        <div role="presentation" class="tab group {{ group_list.0.name }} active" data-id="{{ group_list.0.id }}" data-name="{{ group_list.0.name }}">
                            <a href="#{{ group_list.0.id }}" aria-controls="{{ group_list.0.id }}" role="tab" data-toggle="tab">{% trans group_list.0.name %}</a>
                        </div>
                        {% for group in group_list|slice:"1:" %}
                            <div role="presentation" class="tab group {{ group.name }}" data-id="{{ group.id }}" data-name="{{ group.name }}">
                                <a href="#{{ group.id }}" aria-controls="{{ group.id }}" role="tab" data-toggle="tab">{% trans group.name %}</a>
                            </div>
                        {% endfor %}
                        <div role="presentation" class="tab group {{ sudo_group.name }}" data-id="{{ sudo_group.id }}" data-name="{{ sudo_group.name }}">
                            <a href="#{{ sudo_group.id }}" aria-controls="{{ sudo_group.id }}" role="tab" data-toggle="tab">{{ sudo_group.name }}</a>
                        </div>
                        <div role="presentation" class="tab group results" data-id="results" style="display: none">
                            <a href="#results" aria-controls="results" role="tab" data-toggle="tab">{% trans "Search: " %} <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="{{ group_list.0.id }}">
                    {% include 'core/snippets/spinner.html' %}
                    <ul class="people object-list">
                    {% for obj in nonrel_perm_list %}
                        {% with user=obj.user %}
                        <li id="{{ user.id }}" class="ik-li member {{ user.get_status }}{% if user.is_ghost %} ghost{% endif %}"
                            data-id="{{ user.id }}" data-status="{{ user.get_status }}"
                            data-permissions="{% for perm in obj.permission_fk_list %},{{ perm }}{% endfor %}">
                            {% url 'ikwen:profile' user.id as member_url %}
                        {% if user.photo and user.photo.name %}
                            <a href="{{ member_url|ikwenize }}" class="photo" style="background-image: url({{ settings.IKWEN_MEDIA_URL }}{{ user.photo.small_name }})"></a>
                        {% else %}
                            <a href="{{ member_url|ikwenize }}" class="photo" style="background-image: url({% static 'ikwen/img/login-avatar.jpg' %})"></a>
                        {% endif %}
                            <div class="info">
                                <a href="{{ member_url|ikwenize }}" class="full_name">{{ user.full_name }}</a>
                                <p class="about">{{ user.phone }}, {{ user.email }}</p>
                            </div>
                            {% if user.is_ghost %}
                            <div class="actions">
                                <i class="action glyphicon glyphicon-edit" title="{% trans "Edit" %}"></i>
                            </div>
                            {% endif %}
                        </li>
                        {% endwith %}
                    {% endfor %}
                        <li class="ik-li member tpl" style="display: none">
                            <a class="photo bg-img target_url"></a>
                            <div class="info">
                                <a class="full_name target_url"></a>
                                <p class="about">
                                    <span class="phone"></span>, <span class="email"></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                {% for group in group_list|slice:'1:' %}
                    <div role="tabpanel" class="tab-pane" id="{{ group.id }}">
                        <ul class="people">
                            <li class="member tpl" style="display: none">
                                <a class="photo"></a>
                                <div class="info">
                                    <a class="full_name"></a>
                                    <p class="about"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                <div role="tabpanel" class="tab-pane" id="{{ sudo_group.id }}">
                    {% include 'core/snippets/spinner.html' %}
                    <ul class="people">
                        <li class="member tpl" style="display: none">
                            <a class="photo"></a>
                            <div class="info">
                                <a class="full_name"></a>
                                <p class="about"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="results" data-min-search-chars="2">
                    {% include 'core/snippets/spinner.html' %}
                    <div class="empty" style="color: #888; font-size: 18px; padding: 30px 0">{% trans "No result" %}</div>
                    <ul class="people">
                        <li class="member tpl" style="display: none">
                            <a class="photo bg-img target_url"></a>
                            <div class="info">
                                <a class="full_name target_url"></a>
                                <p class="about">
                                    <span class="phone"></span>, <span class="email"></span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="edge-panel-right-container">
                <div id="object-detail" class="edge-panel edge-panel-right">
                    {% include 'core/snippets/spinner.html' %}
                    <div class="empty">
                        {% trans "Click on a member in the list to view and manage." %}
                    </div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-add-contact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add contact to CCM" %}</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label for="new-contact-name">{% trans "Name" %}</label>
                            <input id="new-contact-name" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label for="new-contact-gender">{% trans "Gender" %}</label>
                            <select id="new-contact-gender" class="form-control input-sm">
                                <option value=""> ------ </option>
                                <option value="Male">{% trans "Male" %}</option>
                                <option value="Female">{% trans "Female" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="new-contact-email">{% trans "Email" %}</label>
                            <input id="new-contact-email" type="email" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label for="new-contact-phone">{% trans "Phone" %}</label>
                            <input id="new-contact-phone" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group" id="new-contact-profiles">
                            <label for="new-contact-profiles">{% trans "Profiles" %}</label>
                            <div class="row">
                            {% for profile in profiletag_list %}
                                <div class="checkbox tile col-sm-4 col-md-3">
                                    <label for="squaredThree">
                                         <input type="checkbox" value="{{ profile.id }}"><span>{{ profile.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {% if preference_list %}
                        <div class="form-group" id="new-contact-preferences">
                            <label for="new-contact-preferences">{% trans "Preferences" %}</label>
                            <div class="row">
                            {% for preference in preference_list %}
                                <div class="checkbox tile col-sm-4 col-md-3">
                                    <label for="squaredThree">
                                         <input type="checkbox" value="{{ preference.id }}"><span>{{ preference.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </form>
                    <div class="actions row">
                        <div class="col-xs-12 col-sm-4 pull-right">
                            <button class="btn btn-sm btn-success btn-block add-contact"
                                    data-dismiss="modal" aria-label="Close">{% trans "OK" %}</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 pull-right">
                            <button class="btn btn-sm btn-default btn-block"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .community').addClass('active');
            $('#groups').on('click', '.group', function (e) {
                var groupId = $(this).data('id'),
                    groupName = $(this).data('name'),
                    count = $('div#' + groupId + ' li.member:not(.tpl)').length;
                $('div#group-update h5 em').text(groupName);
                $('div.tab-pane').removeClass('active').hide();
                $('div#' + groupId).addClass('active').show();
                if (count > 0 && $(window).width() >= 768) {
                    $('div#' + groupId + ' li.member.active').click();
                    return;
                }
                $('div#object-detail .empty').show();
                $('div#object-detail .actions').hide();
                if (groupId === 'results') return;
                $('body').css('cursor', 'wait');
                $.getJSON('{% url 'ikwen:community' %}',
                        {group_name: groupName, start: 0, length: 100, format: 'json'}, function(data) {
                    $('body').css('cursor', 'default');
                    $('div#' + groupId + ' li.member:not(.tpl)').remove();
                    $('div#page-navigation div').text(data.length + '/' + data.length);
                    for(var i=0; i<data.length; i++) {
                        var member = data[i],
                            $tpl = $('div#' + groupId + ' li.member.tpl').clone().removeClass('tpl');
                        $tpl = applyMemberTemplate($tpl, member);
                        $tpl.insertBefore('div#' + groupId + ' li.member.tpl').show();
                    }
                });
            });
            function applyMemberTemplate($tpl, member) {
                $tpl.addClass(member.status).data({"id": member.id, "status": member.status, "permissions": member.permissions});
                $tpl.find('.full_name').text(member.full_name);
                $tpl.find('.about').text(member.phone + ', ' + member.email);
                $tpl.find('a').attr('href', member.url);
                $tpl.find('.photo').css('background-image', 'url(' + member.photo + ')');
                if (member.is_ghost) $tpl.addClass('ghost');
                return $tpl;
            }
            $('body').on('click', 'li.member', function() {
                var memberId = $(this).data('id');
                $('ul li.member').removeClass('active');
                $(this).addClass('active');
                $('div#object-detail .empty').hide();
                $('div#object-detail .spinner').show();
                $('div#object-detail .content').load('?action=load_member_detail&member_id=' + memberId, function() {
                    $('div#object-detail .spinner').hide();
                });
                if ($(window).width() < 768) {
                    ikwen.swipeInRightPanel()
                }
            }).on('click', '.set-permissions', function() {
                var memberId = $(this).data('member-id'),
                    permissionIds = [];
                $('div#permissions input:checked').each(function() {
                    permissionIds.push($(this).val())
                });
                $.getJSON('{% url 'ikwen:set_collaborator_permissions' %}',
                        {permission_ids: permissionIds.join(','), member_id: memberId}, function(data) {
                    if (data.success) {
                        ikwen.showFloatingNotice("{% trans 'Permissions successfully updated' %}", '', 6)
                    }
                });
            }).on('click', '.set-profiles', function() {
                var memberId = $(this).data('member-id'),
                    tagIds = [];
                $('div#profiles input:checked').each(function() {
                    tagIds.push($(this).val())
                });
                $.getJSON('', {action: 'set_member_profiles', member_id: memberId, tag_ids: tagIds.join(',')}, function(data) {
                    if (data.success) {
                        ikwen.showFloatingNotice("{% trans 'Profiles successfully updated' %}", '', 6)
                    }
                });
            }).on('click', '#group-update .group', function() {
                var groupId = $(this).data('id'),
                    name = $(this).data('name'),
                    memberId = $(this).data('member-id');
                $.getJSON('{% url 'ikwen:move_member_to_group' %}', {group_id: groupId, member_id: memberId}, function(data) {
                    if (data.success) {
                        var activeGroupId = $('div#groups .group.active').data('id');
                        if (groupId !== activeGroupId) {
                            $('.member.active').remove().appendTo('#' + groupId + ' .people').click();
                        }
                        ikwen.showFloatingNotice("{% trans 'Member moved to group' %}" + ' ' + name, '', 6)
                    }
                });
            }).on('click', '#blocking button', function() {
                var memberId = $(this).data('member-id'),
                    status = $(this).data('status');
                $.getJSON('{% url 'ikwen:toggle_member' %}', {member_id: memberId}, function(data) {
                    if (data.success) {
                        if (status === 'Blocked')  {
                            $('.member.active').removeClass('Blocked');
                            $('#permissions, #group-update').show();
                            $('div#blocking button').text("{% trans 'Block' %}").data('status', 'Active');
                        } else  {
                            $('.member.active').addClass('Blocked');
                            $('div#blocking button').text("{% trans 'Activate' %}").data('status', 'Blocked');
                            $('#permissions, #group-update').hide();
                        }
                        ikwen.showFloatingNotice("{% trans 'Permissions successfully updated' %}", '', 6)
                    }
                });
            }).on('click', '#admin-tools .add', function() {
                $('#modal-add-contact input[type=text], #modal-add-contact select').val('');
                $('div#new-contact-profiles input[type=checkbox]').prop('checked', false);
                $('div#new-contact-preferences input[type=checkbox]').prop('checked', false);
            }).on('click', '.add-contact', function() {
                var name = $('#new-contact-name').val(),
                    gender = $('#new-contact-gender').val(),
                    email = $('#new-contact-email').val(),
                    phone = $('#new-contact-phone').val(),
                    tagIds = [];
                $('div#new-contact-profiles input:checked').each(function() {
                    tagIds.push($(this).val())
                });
                $('div#new-contact-preferences input:checked').each(function() {
                    tagIds.push($(this).val())
                });
                var params = {action: 'add_ghost_member', name: name, gender: gender,
                    email: email, phone: phone, tag_ids: tagIds.join(',')};
                $.getJSON('', params, function(data) {
                    if (data.error) {
                        ikwen.showFloatingNotice(data.error, '', 6)
                    }
                    if (data.success) {
                        $('.nav-tabs .tab').removeClass('active').hide();
                        $('.nav-tabs .tab:first').addClass('active').show();
                        $('.tab-pane').removeClass('active').hide();
                        $('.tab-pane:first').addClass('active').show();
                        var $member = $('.tab-pane:first .member.tpl').clone().removeClass('tpl');
                        $member = applyMemberTemplate($member, data.member);
                        $member.prependTo('.tab-pane:first .people').show();
                        ikwen.showFloatingNotice("{% trans "Member added" %}", '', 6)
                    }
                });
            });
            var searchDescriptor = [{
                endpoint: '{% url 'ikwen:list_collaborators' %}',
                resultTplSelector: '#results li.member'
            }];
            function beforeSearch() {
                var q = $('form#context-search input').val();
                $('div#groups .group').removeClass('active');
                $('div#groups .group.results').show().addClass('active').find('span').text(q);
                $('div.tab-pane').hide();
                $('#results').show();
                $('div#object-detail .empty').show();
                $('div#object-detail .actions').hide();
            }
            $('#context-search').unbind();
            ikwen.setupSearch('#context-search', '#results', searchDescriptor, beforeSearch);
        })()
    </script>
{% endblock %}
