{% extends "core/base_bs.html" %}
{% load i18n staticfiles %}

{% block page_title %}
<title>{{ service.project_name }} - {% trans "Forgotten password" %} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style type="text/css">
        #navbar .search, #navbar .navbar-right {display: none}
        div.success, div.failure {margin: 60px 0 15px; padding: 10px}
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="form container">
        {% if request.GET.success %}
            <div class="success">
                {% trans "Instructions to reset you password were sent to your e-mail." %}
            </div>
            <a href="{% url 'home' %}"> {% trans "Home" %} </a>
        {% else %}
            {% if request.GET.emailSendFailed %}
                <div class="failure">
                    {% trans "An unknown error occured while sending e-mail. Please try again later." %}
                </div>
                <a href="{% url 'index' %}"> {% trans "Home" %} </a>
            {% elif request.GET.notFound %}
                <div class="failure"> {% trans "E-mail not found. Please check and try again." %}</div>
            {% endif %}
            <div class="directions">
                {% trans "Please provide your email to receive password reset information." %}
                {# TODO: Allow people to retrieve password with phone number as well #}
            </div>
            <div id="forgotten-pwd" class="form-wrapper">
                <form method="post" action="{% url 'ikwen:forgotten_password' %}"> {% csrf_token %}
                    <div class="form-group">
                        <label for="lg-username">Email</label>
                        <input id="lg-username" class="form-control input-sm username" type="text" name="email" />
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-sm"> {% trans "Reset password" %} </button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    {{ config.scripts|safe }}
{% endblock %}