{% extends "core/base_bs.html" %}
{% load i18n humanize static auth_tokens %}

{% block meta %}
    {{ block.super }}
    <meta property="og:type" content="Website" />
    {% if cr_profile %}
        <meta property="og:title" content="{{ profile_name }} is offering you some gifts" />
        <meta property="og:image" content="{% get_media_prefix %}{{ coupon_list.0.image.name }}" />
        <meta property="og:description" content="{% blocktrans %}Join {{ profile_name }} on ikwen and get some free gifts !{% endblocktrans %}" />
        <meta name="description" content="{% blocktrans %}Join {{ profile_name }} on ikwen and get some free gifts !{% endblocktrans %}" />
    {% else %}
        <meta property="og:title" content="{{ profile_name }}" />
        <meta property="og:image" content="{% get_media_prefix %}{{ config.logo.name }}" />
        <meta property="og:description" content="{% blocktrans %}Join {{ profile_name }} on ikwen !{% endblocktrans %}" />
        <meta name="description" content="{% blocktrans %}Join {{ profile_name }} on ikwen !{% endblocktrans %}" />
    {% endif %}
{% endblock %}

{% block page_title %}
<title> {{ profile_name }} - ikwen </title>
{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/console.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href="{% static 'ikwen/swiper/css/swiper.min.css' %}" />
    <style>
        body {background: #f6f6f6}
        {% if profile_cover_url %}
            #cover {background-image: url({{ profile_cover_url }})}
        {% else %}
            {% if is_company %}
                #cover {
                    background-image: url({% static 'ikwen/img/default-cover-company.jpg' %})
                }
            {% else %}
                #cover {
                    background-image: url({% static 'ikwen/img/default-cover.jpg' %})
                }
            {% endif %}
        {% endif %}
        {% if profile_photo_url %}
            #banner .frame .photo {background-image: url({{ profile_photo_url }})}
        {% else %}
            {% if is_company %}
                #banner .frame .photo {
                    background-image: url({% static 'ikwen/img/logo-placeholder.jpg' %})
                }
            {% else %}
                #banner .frame .photo {
                    background-image: url({% static 'ikwen/img/login-avatar.jpg' %})
                }
            {% endif %}
        {% endif %}

        {% if is_console %}
            @media (min-width: 476px) {
                #banner h2 {
                    margin-top: 210px
                }
            }
        {% endif %}
        #deploy {background: #7a1e31; border-color:  #7a1e31; color: #fff; font-weight: 700; letter-spacing: 2px}
        #deploy:hover {background: #982035; border-color:  #982035}
        #coupons .progress {margin: 0}
        #coupons .progress-bar {background-color: #4CAF50;}
        #coupons .join-community {font-weight: 600; width: 180px}
        .coupon-count {color: #fff; float: right; height: 34px; margin-top: 146px; padding-right: 5px}
        .coupon-count span {font-size: 26px; font-weight: 700}
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'ikwen/swiper/js/swiper.jquery.min.js' %}"></script>
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ settings.IKWEN_BASE_URL }}">
        <strong><span class="letter-i">i</span>kwen</strong>
    </a>
    <strong class="navbar-brand visible-xs"><span class="letter-i">i</span>kwen</strong>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div class="edge-panel-left visible-xs">
            <div class="wrapper">
                <div class="stage">
                    <div class="logo text-center">
                        <img src="{% static 'ikwen/img/logo_ikwen_2018.png' %}" alt="ikwen logo" />
                    </div>
                    <div class="menu console-menu">
                        <h4 class="text-muted">
                            <div class="disc coupon">
                                <i class="fa fa-ticket"></i>
                            </div>
                            {% trans "My collection" %}
                        </h4>
                        <ul style="padding: 0">
                            {% for summary in coupon_summary_list %}
                                {% with service=summary.service %}
                                <li class="ik-li">
                                    <a href="{% url 'ikwen:company_profile' service.project_name_slug %}">
                                        <div class="image rounded" style="background-image: url({% get_media_prefix %}{{ service.config.logo.name }})">
                                            {% if summary.threshold_reached %}
                                                <i class="threshold-reached"></i>
                                            {% endif %}
                                        </div>
                                        <div class="info">
                                            <span class="title">{{ service.project_name }}</span>
                                            <p class="about">{{ summary.count }} {% trans "Coupons" %}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                {% endwith %}
                            {% empty %}
                                <li class="ik-li no-coupon">
                                    <img src="{% static 'ikwen/img/empty-box.png' %}" class="img-responsive" />
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <footer>
                    &copy; {{ year }} <a href="http://www.ikwen.com"><strong>ikwen</strong></a>. {% trans "All rights reserved." %} -
                    <a href="http://www.ikwen.com/legalMentions" style="text-decoration: underline">{% trans "Legal mentions" %}</a>
                </footer>
            </div>
        </div>
        {% block stage %}
            <div id="stage">
                <header id="cover" class="subtle-shade">
                    <div id="banner">
                        <div class="frame">
                            <div class="photo"></div>
                            <h2 class="text-has-shade name visible-xs">{{ profile_name|truncatewords:"2" }}</h2>
                        </div>
                        <h2 class="text-has-shade name hidden-xs">{{ profile_name }}</h2>
                    </div>
                </header>
                {% if coupon_list %}
                <div id="coupons" class="card-ul">
                    <div class="card subtle-shade">
                        <div>
                            <h3 class="pull-left" style="font-size: 18px; margin-top: 0">{% trans "Our Coupons" %}</h3>
                            <div class="dropdown social-sharing pull-right">
                                <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-share-alt" style="color: #243682; font-size: 21px; margin-right: 10px"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="share-coupons">
                                    <li class="visible-xs visible-sm">
                                        <a href="javascript:;" data-toggle="modal" data-target="#whatsapp-share">
                                            <i class="fa fa-whatsapp"></i>
                                            WhatsApp
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://facebook.com/sharer/sharer.php?u={{ url }}" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                            Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/home?status={{ url }}" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                            Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/share?url={{ url }}" target="_blank">
                                            <i class="fa fa-google-plus"></i>
                                            Google+
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="row swiper-container" style="margin-top: 5px">
                                <div class="swiper-wrapper">
                                {% for coupon in coupon_list %}
                                    <div class="col-xs-4 col-sm-3 card-li swiper-slide" style="text-align: center">
                                        <div>
                                            <div class="img coupon-img" data-id="{{ coupon.id }}" style="background-image: url({% get_media_prefix %}{{ coupon.image.name }})">
                                                {% if user.is_authenticated %}
                                                <div class="text-has-shade coupon-count">
                                                    <span>{{ coupon.count }}</span>/100
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% if user.is_authenticated %}
                                            <div class="progress">
                                                <div class="progress-bar" style="width: {{ coupon.ratio }}%">
                                                    <span class="sr-only">{{ coupon.ratio }}% Complete</span>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <p style="margin-top: 5px">{{ coupon.name }}</p>
                                        </div>
                                        {% if coupon.count >= 100 %}
                                            <button class="btn btn-sm btn-block btn-warning claim-reward"
                                                    data-toggle="modal" data-target="#claim-reward">
                                                {% trans "Claim your reward" %}
                                            </button>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="swiper-button-next has-shade">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="swiper-button-prev has-shade">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                            </div>
                        </div>
                        {% if not is_member %}
                        <div>
                            <p style="margin: 15px 0 25px">{% blocktrans %}
                                Collect our coupons and get Discounts, Free Gifts and Purchase Orders. It's
                                free and easy. Join our Community and receive some free coupons to get started.
                            {% endblocktrans %}</p>
                            <p class="text-center">
                            {% if request.user.is_authenticated %}
                                {% if not is_member %}
                                    <button class="btn btn-primary join-community" data-service-id="{{ page_service.id }}">
                                        <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
                                        Join
                                    </button>
                                {% endif %}
                            {% else %}
                                <a class="btn btn-primary join-community" href="{% url 'home' %}?join={{ page_service.project_name_slug }}">
                                    <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
                                    Join
                                </a>
                            {% endif %}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div id="cards" style="width: 100%">
                    <section id="about" class="card profile-about subtle-shade">
                        {% if is_company and page_config.short_description %}
                            {% if page_config.description %}
                                <p style="color: #666; font-size: 18px; margin-bottom: 20px; text-align: justify">{{ page_config.description }}</p>
                            {% else %}
                                <p style="color: #666; font-size: 18px; margin-bottom: 20px">{{ page_config.short_description }}</p>
                            {% endif %}
                        {% else %}
                            <h3 style="font-size: 18px">{% trans "About" %}</h3>
                        {% endif %}
                        <ul>
                            {% if profile_gender %}
                                <li>
                                    <label>{% trans "Gender" %}</label>
                                    <span>{{ profile_gender }}</span>
                                </li>
                            {% endif %}
                            {% if profile_email %}
                                <li>
                                    <label>E-mail</label>
                                    <span>{{ profile_email }}</span>
                                </li>
                            {% endif %}
                            {% if profile_phone %}
                                <li>
                                    <label>{% trans "Phone" %}</label>
                                    <a href="tel://{{ profile_phone }}">{{ profile_phone }}</a>
                                </li>
                            {% endif %}
                            {% if is_company and not app %}
                                <li>
                                    <label>{% trans "Website" %}</label>
                                    <span>
                                        <a href="{{ page_service.url }}" target="_blank">{{ page_service.url }}</a>
                                    </span>
                                </li>
                                {% if profile_address %}
                                <li>
                                    <label>{% trans "Address" %}</label>
                                    <span>
                                        {{ profile_addess }}
                                    </span>
                                </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        {% if is_company and not app and not cr_profile %}
                            <div class="actions">
                                {% if request.user.is_authenticated %}
                                    {% if not is_member %}
                                        <button class="btn btn-primary btn-sm join-community" data-service-id="{{ page_service.id }}">
                                            <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
                                            {% trans "Join" %}
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-primary btn-sm"
                                       href="{% url 'ikwen:join' %}?service_id={{ page_service.id }}">
                                        <img src="{% static 'ikwen/img/Join_button_white.svg' %}" height="15" style="margin: -4px 5px 0 0" />
                                        {% trans "Join" %}
                                    </a>
                                {% endif %}
                            </div>
                        {% elif app.is_public and app.deployment_url_name %}
                            <div class="actions">
                                <a id="deploy" class="btn btn-sm" href="{% url app.deployment_url_name %}">{% trans "DEPLOY" %}</a>
                            </div>
                        {% endif %}
                    </section>
                </div>
            </div>
            <div class="modal fade" id="claim-reward" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content modal-info">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{% trans "Claim your reward" %}</h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>{% trans "Congratulations" %} !</strong></p>
                            <p>{% blocktrans %}
                                You have collected 100 coupons and can enjoy your reward now. To do so,
                                go to our online store, contact us or come to our place.{% endblocktrans %}
                            </p>

                            <div class="clearfix"></div>
                        </div>
                        <div class="profile-about" style="padding: 5px 20px 20px">
                            <ul>
                                {% if is_company and not app %}
                                    <li>
                                        <label>{% trans "Website" %}</label>
                                        <span>
                                            <a href="{{ page_service.url }}" target="_blank">{{ page_service.url }}</a>
                                        </span>
                                    </li>
                                {% endif %}
                                {% if profile_email %}
                                    <li>
                                        <label>E-mail</label>
                                        <span>{{ profile_email }}</span>
                                    </li>
                                {% endif %}
                                {% if profile_phone %}
                                    <li>
                                        <label>{% trans "Phone" %}</label>
                                        <a href="tel://{{ profile_phone }}">{{ profile_phone }}</a>
                                    </li>
                                {% endif %}
                                {% if profile_address %}
                                    <li>
                                        <label>{% trans "Address" %}</label>
                                        <span>{{ profile_address }}</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="coupon-detail" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content modal-info">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body text-center">
                            <img class="img" />
                            <p class="description text-left" style="margin-top: 15px"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="whatsapp-share" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content modal-info">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{% trans "Share on WhatsApp" %}</h4>
                        </div>
                        <div class="modal-body text-center">
                            <form onclick="return false" class="form-horizontal">
                                <div class="form-group row">
                                    <label for="whatsapp-share-msg" class="col-sm-5 col-md-4">{% trans "Message" %}</label>
                                    <div class="col-sm-7 col-md-8">
                                        <textarea id="whatsapp-share-msg" class="form-control input-sm"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="actions">
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <button class="btn btn-success btn-block btn-sm ok"
                                            data-dismiss="modal" aria-label="OK">OK</button>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <button class="btn btn-default btn-block btn-sm"
                                            data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% include 'core/snippets/ads.html' %}
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    {% if not is_console %} {% include 'accesscontrol/snippets/request_management.html' %} {% endif %}
    <script>
        (function() {
            var couponSwiper = new Swiper('#coupons .swiper-container', {
                slidesPerView: 'auto',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev'
            });
            $('body').on('click', '.coupon-img', function() {
                var id = $(this).data('id');
                $.getJSON('{% url 'rewarding:coupon_detail' %}', {id: id}, function(data) {
                    if (data.error) {
                        ikwen.showFloatingNotice(data.error, '', 6);
                        return;
                    }
                    $('div#coupon-detail .modal-title').text(data.name);
                    $('div#coupon-detail img').prop('src', data.image_url);
                    $('div#coupon-detail .description').html(data.description);
                    $('#coupon-detail').modal('show');
                })
            }).on('click', '#whatsapp-share .btn.ok', function() {
                var msg = $('#whatsapp-share-msg').val();
                window.location = 'https://api.whatsapp.com/send?text={{ url }}%0A%0A' + msg;
            })
        })()
    </script>
{% endblock %}
