{% extends "core/base_bs.html" %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}<title>{{ service.project_name }} - {% trans "Sign in" %} </title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <style  type="text/css">
        #navbar .search, #navbar .navbar-right {display: none}
        label span {font-weight: normal}
        #terms-warning {color: #999; font-size: 11px}
        .login-with-ikwen {font-size: 1em; letter-spacing: .5px; padding: 6px 9px 8px}
        .login-with-ikwen strong {color: #7ea6ca}
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="form container">
        {% if login_form.errors %}
            <p class="failure" style="font-size: 1em; padding: 9px">{{ error_message }}</p>
        {% elif request.GET.msg %}
            <p class="failure" style="font-size: 1em; padding: 9px">{{ request.GET.msg }}</p>
        {% elif request.GET.successfulPasswordReset %}
            <p class="success" style="font-size: 1em; padding: 9px">{% trans "Your password was successfully reset, login now." %}</p>
        {% endif %}
        <div id="login" class="form-wrapper">
            <h3 style="text-align: center">
                <div style="margin-bottom: .3em; text-align: center">
                    {% if config.logo.name %}
                        <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" alt="Logo {{ service.project_name }}"
                             style="max-height: 80px"/>
                    {% endif %}
                </div>
                {% trans "Login" %}
            </h3>
            <form action="{% url 'ikwen:sign_in' %}?{{ request.META.QUERY_STRING }}" method="post">{% csrf_token %}
                <div class="form-group" style="margin-top: .4em">
                    <label for="lg-username">{% trans "Username or email" %}</label>
                    <input id="lg-username" class="form-control input-sm username" type="text" name="username" autofocus
                           value="{{ request.GET.username }}{{ request.GET.phone }}" /> {#Only username or phone will be output depending on what is available#}
                </div>
                <div class="form-group">
                    <label for="lg-password">{% trans "Password" %}</label>
                    <input id="lg-password" class="form-control input-sm password" type="password" name="password" />
                </div>
                <div class="form-group">
                    {% if settings.IS_UMBRELLA %}
                        <button class="btn btn-primary btn-block btn-sm"> {% trans "Submit" %} </button>
                    {% else %}
                        <button class="btn btn-primary btn-block btn-sm login-with-ikwen">
                            {% blocktrans %}Login with <strong>ikwen</strong>{% endblocktrans %}
                        </button>
                    {% endif %}
                    <a style="float: left; margin-top: 7px" href="{% url 'ikwen:forgotten_password' %}">{% trans "Forgotten password ?" %}</a>
                </div>
            </form>
            <div style="clear: both; padding-top: 15px; text-align: center">
                {% trans "No account yet ?" %}
                <a id="show-register"
                   href="{% url 'ikwen:register' %}?{{ request.META.QUERY_STRING }}">{% trans "Register" %}</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        (function() {
             {% if request.GET.existingUsername %}
                $('div#top-notice-ctnr span').html('{{ request.GET.msg }}').addClass('failure');
                $('#top-notice-ctnr').fadeIn().delay(10000).fadeOut();
             {% elif request.GET.existingPhone %}
                $('div#top-notice-ctnr span').html('{{ request.GET.msg }}').addClass('failure');
                $('#top-notice-ctnr').fadeIn().delay(10000).fadeOut();
            {% endif %}
            {% if request.GET.action or register_form %}
                $('#rg-username').blur(function() {
                    var username = $(this).val(),
                        $formGroup = $('.form-group.email'),
                        $email =  $('#rg-email');
                    if (username.isValidEmail()) {
                        $email.removeClass('required').val(username);
                        $formGroup.css('overflow', 'hidden').animate({height: 0, marginBottom: 0});
                        return;
                    }
                    $email.addClass('required').val('');
                    $formGroup.animate({height: '35px', marginBottom: '15px'}, 'normal', 'linear', function() {
                        $formGroup.css('overflow', 'unset')
                    })
                }).focus();
                $('#rg-email').blur(testEmail);
                $('#rg-phone').blur(function() {
                    var phone = $(this).val();
                    if (phone && !/\d+/.test(phone)) {
                        $('<ul class="errorlist"><li>' + "{% trans "Please use digits only and prepend country code." %}" + '</li><ul>')
                            .insertAfter('#rg-phone');
                    } else {
                        $('.form-group.phone .errorlist').hide();
                    }
                });
                function testEmail() {
                    var $email = $('#rg-email');
                    if ($email.val().isValidEmail()) {
                        $('.errorlist.email').remove();
                        return true;
                    }
                    $('.form-group.email .errorlist').remove();
                    $('<ul class="errorlist email"><li>' + "{% trans "Please, enter valid email" %}" + '</li><ul>')
                            .insertAfter('#rg-email');
                    $email.focus();
                    return false;
                }
                $('div#register form').submit(function() {
                    if ($('#rg-email').hasClass('required')) return testEmail()
                });
            {% endif %}
{#            var p = $('form#register .country-code').width() + 3,#}
{#                w = $('form#register .phone').width() - p + 5;#}
{#            $('form#register .phone').css({paddingLeft: p, width: w});#}
{#            $('form#register').submit(function() {#}
{#                var phone = $(this).find('.phone').val();#}
{#                if (!/\d{9,}/.test(phone)) {#}
{#                    $('div#top-notice-ctnr span').html({% trans "Invalid phone number. Use digits only." %}).addClass('failure');#}
{#                    $('#top-notice-ctnr').fadeIn().delay(10000).fadeOut();#}
{#                    return false;#}
{#                }#}
{#                if (phone.charAt(0) == 6 && phone.length == 9) $(this).find('.phone').val('237' + phone)#}
{#            })#}
        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}