{% load i18n humanize %}
<script type="text/javascript">
    (function() {
        {% if messages %}
            {% for msg in messages %}ikwen.showFloatingNotice('{{ msg|safe }}', '{{ msg.tags }}', 6);{% endfor %}
        {% endif %}
        $('body').on('click', '.join-community.btn.btn-primary', function() {
            var _$btn = $(this),
                serviceId = $(this).data('service-id');
            _$btn.addClass('btn-default').removeClass('btn-primary');
            $.getJSON('{% url 'ikwen:join' %}', {service_id: serviceId, format: 'json'}, function(data) {
                if (data.success) {
                    _$btn.fadeOut('normal', 'linear', function() {
                        _$btn.next().show();
                    });
                    ikwen.showFloatingNotice("{% trans "Great ! You just joined our awesome community." %}", '', 6);
                }
            })
        });
    })()
</script>
