{% extends "core/base_bs.html" %}
{% load i18n staticfiles humanize auth_tokens %}

{% block page_title %}<title>{{ app.name }} - {% trans "Deploy Cloud" %}</title>{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/swiper/css/swiper.min.css' %}" />
    <style type="text/css">
        #navbar {background: #fff}
        #navbar .navbar-brand {color: #888; font-size: 2em; font-weight: 700}
        #navbar a {color: #888}
        .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {background: #eee}
        .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background: #eee}
        #navbar .glyphicon {color: #aaa}
        #content {margin-bottom: 2em; padding-top: 75px; padding-left: 0}
        .page-header {margin: 0 0 1em}
        #navbar .menu-button, #navbar-search {
            display: none
        }
        .section-title {color: #666; margin: 2em 0 1em}
        .section-title:first-of-type {margin-top: 0}
        .section-title.billing {margin-top: 2em}
        .section-title.choose-theme {margin: 10.5px 0 1em}
        .btn-icon {border: 1px solid; border-radius: 3px; cursor: pointer; font-size: 15px; height: 33px;
            line-height: 31px; text-align: center; width: 33px}
        .btn-icon.glyphicon-plus {padding-left: 2px}
        @media (max-width: 767px) {
            input.amount {margin-top: 4px}
            .btn-icon {float: right; margin: 2px 15px 0 0 }
        }
        .results.customers {background: #fff; position: absolute; z-index: 10}
        #content form ul.errorlist {
            padding-left: 0
        }

        #content form ul.errorlist li {
            color: #FF0808;
            list-style-type: none
        }

        .theme img {transition: box-shadow .3s}
        .theme:hover img, .theme.active img {box-shadow: 1px 1px 9px 4px rgba(255, 87, 0, 0.42); transition: box-shadow .3s}
        @media (max-width: 767px) {
            #navbar {background: #f8f6f6}
            #navbar .navbar-brand {font-size: 1.5em; font-weight: 700}
            #content {padding-top: 55px;}
            .page-header {margin: 0.5em 0 0}
            .dropdown-menu-xs {background: #f8f6f6}
            .dropdown-menu-xs li {border-bottom: 1px solid #eee;}
            .theme {margin-top: 1.5em}
            .section-title.choose-theme {margin-bottom: .5em}
        }
    </style>
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand" href="{{ settings.IKWEN_BASE_URL }}">
        <strong>ikwen</strong>
    </a>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            {% if request.GET.msg %}
                <p class="failure" style="font-size: 1em; padding: 9px">{{ request.GET.msg }}</p>
            {% endif %}
        </div>
        <div class="container">
            <p class="page-header text-muted" style="text-align: center">
                <img src="{{ settings.IKWEN_MEDIA_URL }}{{ app.logo.name }}" width="45" />
                <span>
                    {% blocktrans with app_name=app.name %}Create your {{ app_name }} website{% endblocktrans %}
                </span>
            </p>
            {% if form.errors and settings.DEBUG %} <div class="alert alert-danger"> {{ form.errors }}</div> {% endif %}
            {% if error %} <div class="alert alert-danger"> {{ error }}</div> {% endif %}
        </div>
        <form action="{% url app.deployment_url_name app.slug %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="app_id" value="{{ app.id }}" />
            {% if not settings.IS_IKWEN %}
                <input type="hidden" name="partner_id" value="{{ service.id }}" />
            {% endif %}
            <input type="hidden" id="theme-id" name="theme_id" value="{{ theme_list.0.id }}" />
            {% if settings.IS_IKWEN and not user.is_staff %}
                <input type="hidden" id="customer-id" name="customer_id" value="{{ user.id }}" />
            {% else %}
                <input type="hidden" id="customer-id" name="customer_id" />
            {% endif %}
            <div class="container">
                <div class="col-sm-9 col-md-8">
                    {% if settings.IS_IKWEN and user.is_staff or not settings.IS_IKWEN %}
                        <h4 class="section-title">{% trans "Customer" %}</h4>
                        <div class="form-group row" style="height: 35px">
                            <label for="customer-name" class="col-sm-4 col-md-3">{% trans "Customer name" %}</label>
                            <div class="col-sm-6 col-md-6">
                                <input id="customer-name" class="form-control input-sm" type="text" autocomplete="off"/>
                                {{ form.member_id.errors }}
                                <div class="results customers has-shade" style="display: none" data-min-search-chars="2">
                                    {% include 'core/snippets/spinner.html' %}
                                    <ul style="padding-left: 0">
                                        <li class="member tpl" style="display: none">
                                            <div style="display: block">
                                                <span class="photo logo bg-img" style="background-image: url({% static 'ikwen/img/no_photo.png' %})"></span>
                                                <div style="float: left; margin-left: 30px">
                                                    <span class="full_name"></span>
                                                    <p class="about short_description"></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <h4 class="section-title" style="clear: both">{% trans "Website info" %}</h4>
                    <div class="form-group row">
                        <label for="project-name" class="col-sm-4 col-md-3">{% trans "Project name" %}</label>
                        <div class="col-sm-6 col-md-6">
                            <input id="project-name" class="form-control input-sm" type="text" name="project_name"/>
                            {{ form.project_name.errors }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="domain" class="col-sm-4 col-md-3">{% trans "Domain" %}</label>
                        <div class="col-sm-6 col-md-6">
                            <input id="domain" class="form-control input-sm" type="text" name="domain"/>
                            {{ form.domain.errors }}
                        </div>
                    </div>
                    {% block config_info %}{% endblock %}
                </div>
            </div>
            {% if can_choose_themes %}
            <div style="background: #222; margin-top: 1em; padding: .5em 0 2em">
                <div class="container">
                    <h4 class="section-title choose-theme" style="color: #ddd">{% trans "Choose theme" %}</h4>
                    <div class="swiper-container" style="padding: 10px; margin-left: -10px">
                        <div class="swiper-wrapper">
                            {% for theme in theme_list %}
                                <div class="swiper-slide theme{% if forloop.counter == 1 %} active{% endif %}" data-id="{{ theme.id }}">
                                    <img src="{{ settings.IKWEN_MEDIA_URL }}{{ theme.preview.name }}" class="img-responsive"/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="container">
                <div class="col-sm-9 col-md-8">
                    <h4 class="section-title billing">{% trans "Billing" %}</h4>
                    <div class="form-group row">
                        <label for="billing-cycle" class="col-sm-4 col-md-3">{% trans "Billing cycle" %} </label>
                        <div class="col-sm-6 col-md-6">
                            <select id="billing-cycle" name="billing_cycle" class="form-control input-sm">
                                <option value="">-------</option>
                                {% for bc in billing_cycles %}
                                    <option value="{{ bc.0 }}">{% trans bc.1 %}</option>
                                {% endfor %}
                            </select>
                            {{ form.billing_cycle.errors }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {% if billing_plan_list %}
                        <label for="billing-plan" class="col-sm-4 col-md-3">{% trans "Billing plan" %} </label>
                        <div class="col-sm-6 col-md-6">
                            <select id="billing-plan" name="billing_plan_id" class="form-control input-sm">
                                {% for plan in billing_plan_list %}
                                    <option value="{{ plan.id }}"
                                            data-setup-cost="{{ plan.setup_cost }}"
                                            data-monthly-cost="{{ plan.monthly_cost }}"
                                            data-months-count="{{ plan.setup_months_count }}">{{ plan.name }}</option>
                                {% endfor %}
                            </select>
                            {{ form.billing_plan.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% if not settings.IS_IKWEN %}
                        <div class="form-group row" style="padding-top: 10px">
                            <div class="col-sm-offset-4 col-md-offset-3 col-sm-3 col-md-3 text-muted">{% trans "ikwen charges" %}</div>
                            <div class="col-sm-3 col-md-3 text-muted">{% trans "your charges" %}</div>
                        </div>
                    {% endif %}
                    <div class="form-group row">
                        <label for="setup-cost" class="col-sm-4 col-md-3">{% trans "Setup Cost" %} </label>
                        {% if settings.IS_IKWEN %}
                            <div class="col-sm-6 col-md-6">
                                {% if billing_plan_list %}
                                    <input id="setup-cost" class="form-control input-sm" type="number" name="setup_cost" value="{{ billing_plan_list.0.setup_cost }}"{% if not user.is_staff %} readonly{% endif %} />
                                {% else %}
                                    <input id="setup-cost" class="form-control input-sm" type="number" name="setup_cost" value="{{ ikwen_setup_cost }}"{% if not user.is_staff %} readonly{% endif %}/>
                                {% endif %}
                                {{ form.setup_cost.errors }}
                            </div>
                        {% else %}
                            <div class="col-sm-3 col-md-3 text-muted">
                                {% if billing_plan_list %}
                                    {% if billing_plan_list.0.setup_cost == 0 %}
                                        <span class="ikwen-setup-cost">{% trans "Free" %}</span>
                                    {% else %}
                                        {{ config.currency_symbol }} <span class="ikwen-setup-cost">{{ billing_plan_list.0.setup_cost|intcomma }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if ikwen_setup_cost == 0 %}
                                        <span class="ikwen-setup-cost">{% trans "Free" %}</span>
                                    {% else %}
                                        {{ config.currency_symbol }} <span class="ikwen-setup-cost">{{ ikwen_setup_cost|intcomma }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input id="setup-cost" class="form-control input-sm" type="number" name="setup_cost"/>
                                {{ form.setup_cost.errors }}
                            </div>
                        {% endif %}
                        <p class="col-sm-offset-4 col-md-offset-3 text-muted" style="clear: both; font-size: 12px; padding-left: 15px">
                            {% blocktrans with count=billing_plan.0.setup_months_count %}
                                <em>Setup cost covers <span class="setup-months-count">{{ setup_months_count }}</span> months of service.</em>
                            {% endblocktrans %}
                        </p>
                    </div>
                    <div class="form-group row">
                        <label for="monthly-cost" class="col-sm-4 col-md-3">{% trans "Monthly Cost" %} </label>
                        {% if settings.IS_IKWEN %}
                            <div class="col-sm-6 col-md-6">
                                {% if billing_plan_list %}
                                    <input id="monthly-cost" class="form-control input-sm" type="number" name="monthly_cost" value="{{ billing_plan_list.0.monthly_cost }}"{% if not user.is_staff %} readonly{% endif %}/>
                                {% else %}
                                    <input id="monthly-cost" class="form-control input-sm" type="number" name="monthly_cost" value="{{ ikwen_monthly_cost }}"{% if not user.is_staff %} readonly{% endif %}/>
                                {% endif %}
                                {{ form.monthly_cost.errors }}
                            </div>
                        {% else %}
                            {% if billing_plan_list %}
                                <div class="col-sm-3 col-md-3 text-muted">
                                    {% if billing_plan_list.0.monthly_cost == 0 %}
                                        <span class="ikwen-monthly-cost">{% trans "Free" %}</span>
                                    {% else %}
                                        {{ config.currency_symbol }} <span class="ikwen-monthly-cost">{{ billing_plan_list.0.monthly_cost|intcomma }}</span>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="col-sm-3 col-md-3 text-muted">
                                    {% if ikwen_monthly_cost == 0 %}
                                        <span class="ikwen-monthly-cost">{% trans "Free" %}</span>
                                    {% else %}
                                        {{ config.currency_symbol }} <span class="ikwen-monthly-cost">{{ ikwen_monthly_cost|intcomma }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="col-sm-3 col-md-3">
                                <input id="monthly-cost" class="form-control input-sm" type="number" name="monthly_cost" />
                                {{ form.monthly_cost.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {% if settings.IS_IKWEN and user.is_staff or not settings.IS_IKWEN %}
                        <h4 class="section-title" style="margin: 2.5em 0 3px">{% trans "Additional services" %}</h4>
                        <p class="text-muted" style="margin-bottom: 2em">
                            {% trans "Custom services you charge your customer for. Those will be part of the cloud setup invoice." %}
                        </p>
                        <div class="form-group row tpl custom-service">
                            <div class="col-sm-6 col-md-6">
                                <input class="form-control input-sm title" type="text" placeholder="{% trans "Title" %}" />
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <input class="form-control input-sm amount" type="text" placeholder="{% trans "Amount" %}" />
                            </div>
                            <div>
                                <i class="btn-icon remove-service glyphicon glyphicon-minus text-danger"></i>
                            </div>
                        </div>
                        <div class="form-group row custom-service">
                            <div class="col-sm-6 col-md-6">
                                <input class="form-control input-sm title" type="text" name="item0" placeholder="{% trans "Title" %}" />
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <input class="form-control input-sm amount" type="text" name="amount0" placeholder="{% trans "Amount" %}" />
                            </div>
                            <div>
                                <i class="btn-icon add-service glyphicon glyphicon-plus text-success"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container" style="margin-top: 2em">
                <div class="col-sm-4 col-md-3">
                    <button class="btn btn-success btn-block"> {% trans "Submit" %} </button>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block footer %}
    <footer>
        &copy; {{ year }} <a href="http://www.ikwen.com" style="color: #666; text-decoration: none"><strong>ikwen</strong></a>.
        {% trans "All rights reserved." %}
        {% if config.legal_mentions_url %}
        - <a href="{{ config.legal_mentions_url }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>
        {% endif %}
    </footer>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/swiper/js/swiper.jquery.min.js' %}"></script>
    <script type="text/javascript">
        (function () {
            $('#billing-plan').change(function() {
                var setupCost = parseInt($('#billing-plan option:selected').data('setup-cost')),
                    monthlyCost = parseInt($('#billing-plan option:selected').data('monthly-cost')),
                    monthsCount = $('#billing-plan option:selected').data('months-count');
                {% if settings.IS_IKWEN %}
                    $('#cloud_setup-cost').val(setupCost);
                    $('#monthly-cost').text(monthlyCost);
                {% else %}
                    if (setupCost == 0) $('.ikwen-setup-cost').text("{% trans "Free" %}");
                    else $('.ikwen-setup-cost').text(setupCost.formatMoney());
                    if (monthlyCost == 0)  $('.ikwen-monthly-cost').text("{% trans "Free" %}");
                    else $('.ikwen-monthly-cost').text(monthlyCost.formatMoney());
                {% endif %}
                $('.cloud_setup-months-count').text(monthsCount)
            });
            $('.theme').click(function() {
                $('.theme').removeClass('active');
                var themeId = $(this).addClass('active').data('id');
                $('#theme-id').val(themeId);
            });
            $('#content').on('click', 'li.member', function() {
                var customerId = $(this).data('id'),
                    customerName = $(this).find('.full_name').text();
                $('#customer-id').val(customerId);
                $('#customer-name').val(customerName);
            }).on('click', '.btn-icon.add-service', function () {
                var i = $('.custom-service').length,
                    $customService = $('.custom-service.tpl').clone().removeClass('tpl').addClass('cs' + i);
                $customService.find('.btn-icon.remove-service').data('i', i);
                $customService.insertBefore('.custom-service.tpl');
                $('.custom-service:not(.tpl)').each(function(i) {
                    $(this).find('input.title').attr('name', 'item' + i);
                    $(this).find('input.amount').attr('name', 'amount' + i);
                });
            }).on('click', '.btn-icon.remove-service', function() {
                var title = $(this).parents('.form-group').find('.title');
                var i = $(this).data('i');
                $('.cs' + i).remove();
                $('.custom-service:not(.tpl)').each(function(i) {
                    $(this).find('input.title').attr('name', 'item' + i);
                    $(this).find('input.amount').attr('name', 'amount' + i);
                });
            });
            $('.results.customers').width($('#customer-name').width());
            {% url 'ikwen:member_list' as list_members_url %}
            var searchDescriptor = [{
                endpoint: '{{ list_members_url|ikwenize }}',
                resultTplSelector: '.results.customers li.member',
                jsonp: true
            }];
            $('#customer-name').focusout(function() {$('.results.customers').fadeOut()});
            ikwen.setupSearch('#customer-name', '.results.customers', searchDescriptor);

            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                spaceBetween: 20,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    992: {
                        spaceBetween: 15
                    },
                    768: {
                        slidesPerView: 2
                    },
                    425: {
                        slidesPerView: 1
                    }
                }
            });
            $(window).scroll(function() {
                if ($(this).scrollTop() > 0) {
                    $('#navbar').addClass('has-shade')
                } else {
                    $('#navbar').removeClass('has-shade')
                }
            });
        })()
    </script>
    {{ config.scripts|safe }}
{% endblock %}