/**
    Document   : forms
    Created on : August 04, 2016, 13:40
    Author     : Kom Sihon
    Description:
        Additional basic display rules for Ikwen apps
*/

body {color: #545454}
.working {cursor: wait}
.success {background: #B6F1B6; border: 1px solid; color: #039B03}
.failure {background: #FFB6C1; border: 1px solid; color:  #F00}
.clear {clear: both}
.text-muted {color: #888}
.help {color: #888; font-size: 14px}
.arrow {color: #bbb; margin: auto; width: 40px}
.arrow div {float: left; height: 20px; width: 20px}
.arrow.up div:first-child {border-right: 1px solid; transform: skewX(-30deg); transform-origin: 10px 0 0}
.arrow.up div:last-child {border-left: 1px solid; margin-left: -1px; transform: skewX(30deg); transform-origin: 10px 0 0}
.tpl, .hide {display: none}
.actions .glyphicon, .glyphicon.action {
    border: 1px solid transparent;
    color: #888;
    cursor: pointer;
    margin-left: 6px;
    text-decoration: none;
    }
.actions .glyphicon, .glyphicon.action {border: 1px solid #ddd; border-radius: 3px}
.cta {font-weight: 700; letter-spacing: 1px; text-transform: uppercase}
.stretched {height: 100%; width: 100%}
.errorlist {color: #e74c3c}

.spinner-container {-webkit-animation: rotate 2s linear infinite; animation: rotate 2s linear infinite; z-index: 2}
.spinner-container .path {
  stroke-dasharray: 1,150;
  stroke-dashoffset: 0;
  stroke: rgba(69, 151, 255, 0.85);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes dash {
    0% {stroke-dasharray: 1,150; stroke-dashoffset: 0}
    50% {stroke-dasharray: 90,150; stroke-dashoffset: -35}
    100% {stroke-dasharray: 90,150; stroke-dashoffset: -124}
}
@-webkit-keyframes dash {
    0% {stroke-dasharray: 1, 150; stroke-dashoffset: 0}
    50% {stroke-dasharray: 90, 150; stroke-dashoffset: -35}
    100% {stroke-dasharray: 90, 150; stroke-dashoffset: -124}
}

#top-notice-ctnr {left: 0;position: fixed;text-align: center;top: 66px;width: 100%;z-index: 10000;}
.floating-notice {background: #F6FF8C; border: 1px solid #CDD570; border-radius: 2px; color: #484B2B; padding: 9px 24px; position: absolute}
.floating-notice.failure {border: 1px solid; color:  #F00}
.floating-notice .action {cursor: pointer; text-decoration: underline}
.status-bullet {border-radius: 50%;display: block;height: 15px;width: 15px;float: left;margin: 2px 10px 0 0;}
.status-bullet.warning, .status-bullet.pending {background: #FF9800;}
.status-bullet.primary {background: #3498db}
.status-bullet.success {background: #2ab732}
.status-bullet.danger, .status-bullet.canceled, .status-bullet.rejected {background: #ee4032}

.member, .ik-li {border-bottom: 1px solid #eee;display: block;float: left;padding: 15px;width: 100%; transition: border .1s}
.member:hover, .ik-li:hover {background: #f8f8f8}
.member.active, .ik-li.active {background: #f6f6f6}
.member .photo, .ik-li .image {background: no-repeat center;background-size: 100% auto;float: left;height: 60px;width: 60px;}
.member .photo {border-radius: 30px}
.member .info, .ik-li .info {float: left; margin-left: 30px}
.member .full_name, .ik-li .name, .ik-li .title {cursor: pointer;color: #333;font-size: 18px;margin: 5px 0 0;}
.member .about, .ik-li .about {color: #888; font-size: 14px}
.ik-li .select {background: #fff url('../img/tick-15.png') no-repeat center;border-radius: 10px;display: none; height: 20px;position: absolute;width: 20px;margin: -25px}

.ik-li .glyphicon, #selection-control .glyphicon {
    box-sizing: content-box;
    padding: 5px;
    border: 1px solid transparent;
}
.ik-li .glyphicon:hover, #selection-control .glyphicon:hover {border: 1px solid #ddd; border-radius: 3px}
.ik-li.selected {border: 3px solid #9433ff; transition: border .1s}
.ik-li.selected + .ik-li.selected {border-top: none}
.ik-li.selected .select {background: #9433ff url('../img/white-tick-15.png') no-repeat center; display: block}
.ik-li .actions {display: none;float: right;}
.ik-li:hover .select, .ik-li:not(.selected):hover .actions {display: block}
time {color: #888;float: right;font-size: 11px; font-weight: normal; padding: 0;}
.ik-li .glyphicon.check {background: #fff; border-radius: 20px;color: #999;cursor: pointer;float: left;margin-right: 24px;margin-top: 18px;border: 1px solid;}
.ik-li .glyphicon.check.active {border-color: transparent; background: #40af00;color: #fff;font-size: 9px}
.ik-li .glyphicon.check.active:hover {border-color: transparent;background: #59c51b;}

.tiles .ik-li {border: 1px solid #eee;height: 150px;margin: 15px;width: 45%;}
.tiles .ik-li.selected {border: 3px solid #9433ff}
.tiles .ik-li.selected + .ik-li.selected {border-top: 3px solid #9433ff}
@media (min-width: 768px) {
    .tiles .ik-li {height: 280px;width: 30%;}
}
.tiles .ik-li:hover, .tiles .ik-li.active {background: #f6f6f6}
.tiles .ik-li .image {height: 200px;width: 100%}
.tiles .ik-li .info {margin: 7px 0 0 0}
.ik-li.tile .glyphicon.check {margin: -208px 0 0 -88px}

.tiles .sortable-placeholder {
    border: 3px dashed #777;
    float: left;
    display: block
}
.ik-li .actions {margin-top: 7px;}

.has-shade {box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1)}
.text-has-shade {text-shadow: 1px 2px 2px rgba(0, 0, 0, .7)}
.inner-shade {box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);}
.subtle-shade {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);}

#navbar {
    height: 47px;
    min-height: 47px;
    position: fixed;
    width: 100%;
    top: 0;
}
#navbar .navbar-brand {padding: 12px 15px}
#navbar .navbar-header {float: left}
#navbar form.search {display: none; float: left; margin: 15px 0 0 200px}
#navbar form.search input {border: 1px solid}
#navbar form.search .results ul {padding-left: 0}

#navbar form.search .results ul li {
    height: 91px;
    overflow: hidden
}

#navbar form.search .results .short_description {
    max-width: 175px;
}
#navbar ul.navbar-right > li > a {padding: 10px}
@media (max-width: 992px) {
    #navbar {
        margin-bottom: 0;
    }
    #content.container {padding: 47px 0 0;width: 100%;}
}
@media (min-width: 768px) {
    #navbar form.search {display: block;float: left;margin: 6px 0 0 55px;}
    #navbar form.search input {border: 1px solid;width: 330px;}
    #navbar form.search .results {background: #fff;max-height: 300px;position: absolute;overflow: auto;width: 330px;}

    #navbar form.search .results .short_description {
        max-width: 185px;
    }
}
@media (min-width: 992px) {
    #navbar {height: 66px;min-height: 66px}
    #navbar .navbar-brand {padding: 19.5px 15px}
    #navbar form.search {margin: 15px 0 0 160px;}
    #navbar form.search input {width: 420px;}
    #navbar form.search .results {width: 420px;}

    #navbar form.search .results .short_description {
        max-width: 275px;
    }
    #navbar ul.navbar-right > li > a {padding: 18px 10px}
}
@media (min-width: 1200px) {
    #navbar form.search {margin: 15px 0 0 200px;}
    #navbar form.search input {width: 500px;}
    #navbar form.search .results {width: 500px;}

    #navbar form.search .results .short_description {
        max-width: 355px;
    }
}
#navbar ul.navbar-right {float: right; margin: 0}
#navbar ul.navbar-right > li {display: inline-block}

#navbar li a img {margin-top: -4px}
#selection-control {background: #fff; color: #888; height: 47px;min-height: 47px; position: fixed;
    width: 100%; padding-top: 12px; top: -50px; z-index: 1000; transition: top .3s}
#selection-control.visible {top: 0;transition: top .3s;padding-top: 20px;}
#selection-control .clear-selection {background: url('../img/arrow-left.png');background-size: 24px; cursor: pointer;
    float: left;height: 24px;opacity: .5; width: 24px;}
#selection-control .select-count {float: left; margin-left: 30px}
#selection-control .actions {float: right}
#app-nav {background: #3498db;font-weight: 700;height: 45px;margin-top: 47px;padding-top: 10px;position: fixed;width: 100%;z-index: 10;}
#app-nav .app-name {float: left; width: 240px}
#app-nav .breadcrumb {background: none;float: left;padding-top: 2px;}
#app-nav .breadcrumb a {color: #fff}
div#container.admin {padding-top: 92px;}
@media (min-width: 992px) {
    #selection-control {height: 66px;min-height: 66px; padding-top: 20px; top: -70px}
    #selection-control .actions {margin-top: -4px}
    #app-nav {margin-top: 66px}
    div#container.admin {padding-top: 111px;}
}

#admin-nav > div > div {padding: 0 10px;}
#admin-nav .stage {width: 200%;padding: 0;}
#admin-nav {background: #fff;border-right: 1px solid #eee;left: 0;overflow: auto;position: fixed;width: 270px;height: 100%;}
#admin-nav .divider {border-top: 1px solid #ddd; margin: 15px 0}
.nav-pills>li>a {padding: 5px 15px;cursor: pointer;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {background: #eee; color: #333}

#filter-nav {padding: 0 10px;}
#filter-nav span {cursor: pointer; float: left;width: 50%;padding-bottom: 6px;}
#admin-nav .filter, #admin-nav .menu {float: left;width: 50%;padding: 0 10px;}
.go-to-website, .go-to-website:hover, .go-to-website:active {color: #fff; font-weight: 400}
.go-to-website .glyphicon {float: left; font-size: 24px}
.go-to-website span {float: left; margin-left: 5px}

#admin-content {margin-left: 270px;padding-top: 16px;min-height: 450px;}
#context-search {float: left}
#context-search input {border: 1px solid #ddd}
#page-navigation {float: right;margin-right: 600px;}
#page-navigation > div {float: left}
#page-navigation i {background: #eee;border: 2px solid #ddd;cursor: default;display: block;float: left;font-weight: 700;height: 30px;padding-top: 2px;text-align: center;width: 30px;}
#page-navigation i:hover {background: #e6e6e6}
#page-navigation i.finished, #page-navigation i.finished:hover {background: #f8f8f8}
.page-navigation {clear: both; float: left}
.change-form label {font-weight: 400}
.change-form label.required {font-weight: 700}

@media (min-width: 768px) {
    .admin-form .form-group:last-child {padding-left: 0}
}
@media (min-width: 972px) {
    .admin-form section .form-control {width: 400px}
    .help {padding-top: 3px}
}
@media (min-width: 1200px) {
    #admin-content.change-form {padding-left: 40px}
}
#results {clear: both}

.checkbox-row input[type=checkbox] {float: left;width: 20px;}
.checkbox-row label {margin: 10px 0 0 10px}
#stage section {background: #fff;float: left;margin-top: 25px;overflow: hidden;padding: 15px;width: 100%;}
#stage section h3 {font-size: 21px; font-weight: 700; margin-top: 0}
footer {color: #999; font-size: 12px; margin-top: 45px; text-align: center; padding-bottom: 30px}
footer a {color: #999}

#object-detail {background: #fff; height: 100%; margin-top: -115px; padding: 0 15px; position: fixed; right: 0; width: 330px}
#object-detail .stage {border-left: 1px solid #eee; float: left; height: 100%; overflow: auto; padding: 0 15px 120px; width: 100%}
#object-detail form {margin: 25px 0}
#object-detail form button {margin-top: 25px}

.payment-mean {display: block;height: 45px;background: #fff;}
.payment-mean span {float: left; padding: 12px 15px; width: 35%}
.payment-mean .img {background: center; background-size: auto 100%; float: left; height: 100%; width: 65%}

.show-results-filter {text-align: left; width: 120px}
.results-filter {
    display: none;
    clear: both;
    float: left;
    width: 600px;
    font-size: 12px;
}
.results-filter.active {display: block}

.results-filter li a {
    padding: 2px 15px;
}

.results-filter h3 {
    border-bottom: 1px solid #ddd; font-size: 1.3em; padding-bottom: 5px; margin-bottom: 0
}

.results-filter h4 {
    font-size: 1.2em; font-weight: 700
}

#object-detail.filter-revealed {margin-top: -360px}