
#banner {height: 180px;overflow: hidden;}
#banner .frame {background: rgba(0, 0, 0, .7);height: 100%;width: 70%;overflow: hidden;max-width: 300px;}
#banner .photo {background: #fff no-repeat center;background-size: 100%;border: 4px solid #fff;height: 100px;margin: 20px auto 0;width: 100px;}
#banner .photo img {height: 100%; width: 100%}
#banner .photo .upload-image {margin: 66px 0 0 -4px;width: 100px;}

#banner .name {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#banner .name.visible-xs {
    text-align: center;
}

#cover {
    background: #fff no-repeat center top;
    background-size: cover;
    float: left;
    width: 100%;
    overflow: hidden;
}
.console-menu {background: #f6f6f6; float: left;height: 350px;margin-top: 15px; transition: all .3s;width: 280px;}
.console-menu.fixed {position: fixed;top: 55px; transition: all .3s}
.console-menu .ik-li {background: none}
.console-menu .ik-li .title {font-size: 17px}
.console-menu .image.rounded {border-radius: 25px;height: 50px;width: 50px;}
.threshold-reached {background: #2cb100;border: 3px solid #f6f6f6;border-radius: 8px;height: 16px;margin-left: 40px;position: absolute;font-size: 13px;width: 16px;}
#stage .card {background: #fff;float: left;margin-top: 25px;overflow: hidden;padding: 15px;width: 100%;}
#stage .card h3 {font-size: 16px;font-weight: 700;margin-top: 0;}
#stage .card h3 a {color: #323d65;}
#stage .card h3 img {margin-right: 6px}
#stage .card > div:first-of-type h4 {margin: 0 0 .5em;}

.cr-join-widget {margin: 35px 0 70px}
.bottom-join .cr-join-widget {margin: 0}
.cr-join-widget .btn.join-community {width: 240px}
.bottom-join {background: #fff; bottom: -140px; height: 125px; left: 0;
    position: fixed; width: 100%; z-index: 1000; transition: all .3s}
.bottom-join.revealed {bottom: 0; transition: all .3s}

.coupon-img {cursor: pointer}
#coupon-detail img {cursor: pointer; height: 180px}

@media (max-width: 767px) {
    .edge-panel-left {background: #f4f4f4}
    .edge-panel-left .logo {background: #fff;display: block;margin-top: -20px;padding: 25px 0;}
    #cards > .row {margin: 0}
    #cards, .events-col1, .events-col2 {padding: 0;}
    #stage .card {padding: 10px}
    .bottom-join.revealed .btn.join-community {margin-top: -10px}
}
@media (min-width: 768px) {
    #banner {height: 300px;overflow: hidden;}
    #banner .frame {margin: auto; width: 90%; overflow: hidden}
    #banner .photo {height: 142px; margin: 79px auto; width: 142px}
    #banner .name {font-size: 21px;text-align: center;}
    #banner .photo .upload-image {margin: 108px 0 0 -4px; width: 142px}
    #cards {float: right;width: 450px;}
}

#banner .progress {
    visibility: hidden;
}

.qq-upload-list {
    display: none
}

#banner .progress-bar {
    background: #2196F3
}
#banner .upload-image {background-color: rgba(0,0,0, .6); color: #eee; display: none; font-size: 13px;
    height: 30px; padding: 5px; position: absolute; text-align: center}
#banner > .upload-image {margin: 15px 0 0 535px; width: 180px}
@media (min-width: 1200px) {
    #banner > .upload-image {margin-left: 625px}
}
#banner:hover > .upload-image, #banner .photo:hover .upload-image {display: block}
@media (min-width: 476px) {
    #banner .frame {float: left;overflow: hidden;width: 300px;}

    #banner h2 {
        float: left;
        font-size: 27px;
        margin: 240px 0 0 30px;
    }
}
#stage {float: left;width: 100%;}
@media (min-width: 992px) {
    #stage {width: 730px}
    #stage .container-fluid {padding: 0}
    #cards {width: 430px;}
}
@media (min-width: 1200px) {
    #stage {width: 820px}
    #cards {width: 520px;}
}

#stage .card h4 {
    color: #4b5573;
    font-size: 17px;
    margin-top: 30px;
}
#stage .card h4 a.more {color: #0069c3;float: right;font-size: 13px}
#stage .card .event-media {background-size: cover;background-position: center;float: left;height: 320px;margin: 1em 0;width: 100%;}

#stage .card .content {
    margin-top: 15px
}

@media (max-width: 414px) {
    #stage .card .content {
        margin-top: 20px
    }
}

#stage .card .loading {
    background: #f5f5f5;
    color: #999;
    font-size: 60px;
    text-align: center;
    margin: auto 15px;
    min-height: 90px;
    line-height: 90px;
}

#stage .card .loading .dots {float: left; margin-top: -15px; width: 100%;}

.card-tile {background: no-repeat center; background-size: auto 100%; border: 1px solid #fff; float: left; overflow: hidden}
.card-tile .more {background: rgba(0, 0, 0, .6);color: #fff;text-align: center;float: left;}
.card-tile .more .main {font-size: 2em;margin: 1.3em 0 0;}
.card-tile .more .sub {font-size: .8em}
.tile-1 {height: 100%;width: 50%;margin: 0 25%;}
.tile-2 {height: 100%; width: 50%}
.tile-3-1 {height: 100%;width: 66%;}
.tile-3-2 {height: 50%; width: 34%}
.coupon-event {background-size: cover;float: left;height: 240px;margin: 0 0 1em;width: 100%;}
.coupon-event.count-3 {height: 300px}
.coupon-tile {background: no-repeat center;background-size: cover;border: 1px solid #fff;float: left;overflow: hidden;}
.coupon-tile .more {background: rgba(0, 0, 0, .6);color: #fff;text-align: center;float: left;}
.coupon-tile .more .main {font-size: 2em;margin: 2em 0 0;}
.coupon-tile .more .sub {font-size: .8em}
.coupon-tile.tile-2 {height: 100%; width: 50%}
.coupon-tile.tile-3-1 {height: 100%;width: 60%;}
.coupon-tile.tile-3-2 {height: 50%;width: 40%;}
.coupon-tile .coupon-count {margin: 0 0 0 10px; position: absolute}
.card-signature {border-top: 1px dashed #ddd; clear: both; margin-top: 5px; padding-top: 10px}
.card-signature .photo {border-radius: 50%;float: left;height:60px;overflow: hidden;width: 60px;}
.card-signature .member-info {float: left; padding-left: .8em; width: 84%}
.card-signature .member-name {margin-top: 15px}
.profile-about ul {margin: 0; padding: 0}
.profile-about ul li {list-style-type: none; line-height: 25px}
.profile-about ul li label {width: 90px}
.profile-about .actions {float: right; margin-top: 15px}
.profile-about .actions .btn {width: 150px;}
.card-ul h3 {color: #323d65;font-size: 18px;margin-bottom: 15px;}
.card-li {font-size: 13px}
.card-li .cover {background: no-repeat center;background-size: cover;margin: auto;width: 100%}
.card-li .cover img {border-radius: 4px;float: left;margin: 10px;}
.card-li .img {background: no-repeat center; background-size: cover; height: 180px}
.card-li .btn {font-weight: 600}
.join-successful {color: #57b21b;display: none;font-size: 30px;height: 35px;line-height: 32px;margin:auto;max-width:300px;text-align: center;}
.join-successful .btn {min-width:240px}
.access-request .member-name {font-weight: 700;}
.disc.coupon {background: #e84735;border-radius: 13px;color: #fff;float: left;font-size: 15px;height: 26px;line-height: 24px;margin: -5px 5px 0 0;text-align: center;width: 26px;}

/* Join Modal */
.no-border {border: none;}
#modal-join-notice .modal-content {background: linear-gradient(to bottom, #047DB0 , #01244F);}
#modal-join-notice .speech {font-size: 15px}
#modal-join-notice .modal-body {padding: 0;}
#modal-join-notice .modal-content {border-radius: 0;color: #fff;}
#whatsapp-share-msg {height: 80px}
#modal-login-to-refer .modal-content {
    background: #003984;
    background: -moz-linear-gradient(top, #003984 1%, #110b42 86%);
    background: -webkit-linear-gradient(top, #003984 1%,#110b42 86%);
    background: linear-gradient(to bottom, #003984 1%,#110b42 86%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003984', endColorstr='#110b42',GradientType=0 );
}
#modal-login-to-refer img {max-height: 260px;margin: auto;}
#modal-refer-now .modal-content {background: #000 url('../img/cr-refer-now.png') center; background-size: cover; height: 450px}
#modal-refer-now .social {margin: 0 auto 60px;width: 160px;}
#modal-refer-now .social li {display: inline-block;list-style-type: none;margin-right: 20px;}
#modal-refer-now .social li:last-child {margin-right: 0}
#modal-refer-now .social li a {float: left;color: #fff;}
#modal-refer-now .social li i {font-size: 40px;}

@media (min-width: 375px) {
    .coupon-event.count-3 {height: 340px;}
}
@media (min-width: 425px) {
    .coupon-event.count-3 {height: 370px;}
}
@media (max-width: 767px) {
    .access-request .logo img {float: left; width: 33px}
    .access-request .member-name {float: left;margin-left: 15px;}
    .access-request .details {clear: both;padding-top: 10px;}
    .access-request .details .groups button {width: 160px}
    .access-request .deny-access {float: right}
    .card-ul .swiper-slide {padding: 0 10px; width: 45%}
    .card-li .cover {height: 135px;}
    #modal-join-notice .speech h3 {margin-top: 5px;font-size: 24px;}
    #modal-join-notice .speech p {padding: 0 10px}
    #modal-join-notice .btn {padding: 6px 9px;}
    #modal-join-notice .modal-footer {padding-top: 0}
    #modal-join-notice .modal-header {padding-top: 10px}
}
@media (min-width: 768px) {
    .access-request .logo {float: left;text-align: center;width: 108px;}
    .access-request .logo img {float: none; width: 72px}
    .access-request .member-name {margin-top: 15px;}
    .access-request .logo h4 {float: none; margin-left: 0}
    .access-request .details {clear: none;float: left;margin-left: 15px;padding-top: 0;width: 540px;}
    .card-ul .swiper-slide {max-width: 180px; width: 35%}
    .card-li .cover {height: 160px;}
    #modal-join-notice .speech {font-size: 18px;}
    #modal-refer-now .social {width: 100px;}
    #modal-refer-now .social li:first-child {display: none}
}
@media (min-width: 768px) and (orientation: landscape) {
    #modal-join-notice img {max-height: 220px;margin: auto;}
    #modal-login-to-refer img {max-height: 220px;margin: auto;}
}
@media (min-width: 992px) {
    #cover {max-width: 820px;}
    .access-request .logo {float: left;text-align: center;width: 130px;}
    .access-request .logo img {float: none; width: 100px}
    #modal-join-notice img {max-height: 240px;}
    #modal-login-to-refer img {max-height: 360px;}
}

#ad-space-right {display: none}
@media (min-width: 992px) {
    #ad-space-right {display: block; float: left; margin-left: 25px}
    #ad-space-right > div {position: fixed; width: 190px}
}
@media (min-width: 1200px) {
    .coupon-event.count-3 {height: 400px;}
    .coupon-tile .more .main {margin-top: 2.5em}
    #ad-space-right > div {width: 240px}
}

#ad-space-right h4 {
    color: #888;
    font-weight: 700;
    margin-top: 0;
    text-decoration: underline;
}
#ad-space-right div#ad {background: #ddd; height: 360px; margin-top: 15px}

#admin-content .embed {background: #fff; float: left; height: 850px; width: 100%}

iframe#billing-stage {border: none;margin: -15px 0 0 -15px;height: 170%;width: 100%;}

/** Events **/
.SubscriptionEvent>h4, .NewInvoiceEvent>h4, .InvoiceReminderEvent>h4, .OverdueNoticeEvent>h4, .ServiceSuspendedEvent>h4,
.InvoicesSentEvent>h4, .RemindersSentEvent>h4, .OverdueNoticesSentEvent>h4, .SuspensionNoticesSentEvent>h4 {display: none}
.SubscriptionEvent p {margin-bottom: 3px}
.SubscriptionEvent ul {float: left; padding-left: 0}
.SubscriptionEvent li {float: left}
