/**
    Document   : sign-in
    Created on : November 17, 2018, 14:22
    Author     : Kom Sihon
    Description:
        CSS Rules for the minimal sign in page
*/

#navbar {display: none}
html, body {height: 100%}
body {/* background: #f8f6f6 url(../../ikwen/img/ikwen_login-bg.jpg) no-repeat center fixed; */background: #eaeaea;background-size: cover;}
.lang-switcher {float: right; padding: 15px}
.lang-switcher select {background: none}
.lang-switcher i {display: none}
#content.form.register {padding-top: 3%}
#stage {background: #fff;border-radius: 4px;float: none;padding: 0;}
.login-title, .register-title {border-bottom: 1px solid #eee; margin-top: 0; padding: 1.3em 0 1em; text-align: center}
.login-title img {border-radius: 4px; height: 40px}
.register-title {font-weight: 300}
.register-title img {float: left}
label span {font-weight: normal}
.welcome {color: #fff; display: none; font-family: "Lato", "PT Sans", sans-serif; font-size: 1.6em; font-weight: 300; overflow: hidden; text-align: center; }
.default-pwd {font-size: 2em}
.change-pwd {height: 0; overflow: hidden; transition: height .3s}
#content.form form {border: none; margin-top: 0; padding: 15px 30px 40px}
.form-group.username {height: 0; overflow: hidden; margin-bottom: 0}
.form-group.password {height: auto; overflow: hidden}
.form-group.submit-username {display: none}
#username, #email {text-transform: lowercase}
#cancel.btn {float: left; width: 180px}
#content.register #continue.btn, #content.register #submit.btn {float: right; width: 180px}
.login-with-ikwen {font-size: 1em;letter-spacing: .5px;}
.login-with-ikwen img {margin: -4px 5px 0 0}
.login-with-ikwen strong {font-weight: 700;}
.forgotten-pwd {float: left; margin-top: 7px}
.init .col-sm-5, .init .col-md-4, .init .col-sm-7, .init .col-md-8 {padding: 0; width: auto}
#auth > .form-group.password > * {float: none; width: auto}
.dob .col-xs-4 {padding: 0 5px}
.dob .col-xs-4:first-of-type {padding-left: 15px}
.dob .col-xs-4:last-of-type {padding-right: 15px}
.dob .errorlist {margin: -13px 0 0;text-align: right;}
.why-dob {display: block; font-size: 11px; margin: -12px 0 10px 0; text-align: right}
.init .row {margin-left: 0; margin-right: 0}
.init .form-group.username {height: auto; margin-bottom: 15px}
.init .form-group.username > div {clear: both; float: none}
.init .form-group.submit-username {display: block}
.init .form-group.password {height: 0}
.create-account, .init .form-group.submit,
.terms, .register .forgotten-pwd, .register.step2 .form-group.username,
.register.step2 .form-group.password, .register.step2 .form-group.password2,
.register.step1 .form-group.first-name, .register.step1 .form-group.last-name,
.register.step2 .form-group.email, .register.step2 .form-group.phone, .dob,
.register.step1 .form-group.gender, #cancel.btn, #continue.btn, .register.step1 #submit {display: none}
.register .create-account, .register.step2 .terms,
.register.step1 .form-group.password, .register.step1 .form-group.password2,
.register.step2 .form-group.first-name, .register.step2 .form-group.last-name,
.register.step1 .form-group.email, .register.step1 .form-group.phone, .register.step2 .dob,
.register.step2 .form-group.gender, .register #cancel, .register.step1 #continue, .register.step2 #submit {display: block}
.register .form-group.username {height: auto; margin-bottom: 15px}
select#month {text-transform: capitalize}
#terms-warning {font-size: 11px}

@media (max-width: 767px) {
    body {background: none}
    .login-title {border-bottom: none; font-size: 21px}
    #stage {box-shadow: none; width: 90%}
    #content.form form {padding-left: 15px; padding-right: 15px}
    #content.form.init form {margin-top: 45px}
    #content.form.register #submit {float: right; width: 180px}
    .login-with-ikwen {height: 50px}
}
@media (min-width: 992px) {
    #content.form.register {padding-top: 7%;}
}